<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="sidebar.component.css">
</head>

<body>
  <span class="drawer__overlay" *ngIf="isCartVisible" (click)="closeCart()"></span>
    <div class="drawer" id="mini-cart" *ngIf="isCartVisible">  
      
      <div class="drawer__content">
        <form id="mini-cart-form" action="/cart" novalidate method="post">
          
          <div *ngFor="let product of products" class="line-item" [attr.data-product-id]="product.id">            <!-- Phần 1: Hình ảnh sản phẩm -->
            <div class="line-item__content-wrapper">
                <a href="#" class="line-item__image-wrapper">
                    <img [src]="product.image" alt="{{ product.name }}" class="line-item__image" />
                </a>
            </div>
            <!-- Phần 2: Tên sản phẩm và nút điều chỉnh số lượng -->
            <div class="line-item__info">
              <p class="line-item__name">{{ product.name }}</p>
              <div class="quantity-selector">
                <button type="button" class="quantity-selector__button" (click)="changeQuantity('decrease', product.id)">-</button>
                <input type="number" class="quantity-selector__input" [(ngModel)]="product.quantity" [min]="1" />
                <button type="button" class="quantity-selector__button" (click)="changeQuantity('increase', product.id)">+</button>
              </div>
          </div>
            <!-- Phần 3: Giá sản phẩm -->
            <div class="line-item__price-wrapper">
              <p class="line-item__price">{{ product.price | currency }}</p>
            </div>
          </div>
        </form>
      </div>
      
      <footer class="mini-cart__footer">
        <div *ngIf="!isEmpty" class="cart-total">
          <p><span id="total">{{ total | currency }}</span></p>
        </div>
        <div *ngIf="isEmpty" id="no-products-message">
          Your cart is empty!
        </div>
        <p *ngIf="!isEmpty" class="shipping-info">Shipping & taxes calculated at checkout</p>
        <button *ngIf="!isEmpty" type="submit" class="cart__checkout-button">COMPLETE YOUR ORDER</button>
      </footer>
    </div>
</body>
</html>
