<div class="whole">
  <main class="container">
    <section class="profile-section">
      <div class="your-order">YOUR ORDER</div>
      <article class="welcome-card">
        <figure class="profile-image">
          <img src="https://placehold.co/160x160/f8f0e5/f8f0e5" alt="Profile" class="profile-pic" />
        </figure>
        <div class="welcome-text">
          <p class="welcome-line">Welcome to EvoCasa</p>
          <p class="name">Andrey!</p>
        </div>
      </article>
      <nav class="menu-list">
        <div class="menu-item" [routerLink]="'/manage-account'">
          <div class="menu-icon-text">
            <img src="images/profile/personal_information.svg" alt="Personal Information Icon" class="menu-icon" />
            <span class="menu-text">Personal Information</span>
            <img src="images/payment/arrow.svg" alt="Personal Information Icon" class="rotated-image" />
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-icon-text active">
            <img src="images/profile/track_order.svg" alt="Track Order Icon" class="menu-icon" />
            <span class="menu-text"><b>Track Order</b></span>
            <img src="images/payment/arrow.svg" alt="Personal Information Icon" class="rotated-image" />
          </div>
        </div>        
      </nav>
    </section>
    <section class="main-content"></section>
  </main>
  <div class="content">
    <div class="track-orders-container">
      <h2 class="track-orders-title">Track Orders</h2>
      <div>
        <article class="order-card">
          <div class="order-header">
            <div class="order-id-group">
              <span class="order-id-label">Order ID</span>
              <span class="separator">|</span>
              <span class="order-id-value">2503010011</span>
            </div>
            <button class="view-details-button">View details</button>
          </div>
          <p class="order-address">
            Address: 16 Thong Nhat, Thuan Giao, Thuan An, Binh Duong Province, Viet Nam.
            <br />
            Phone: 0909888777
          </p>
        </article>
      </div>
      <div class="order-card-wrapper">
        <article class="order-card">
          <div class="order-header">
            <div class="order-id-group">
              <span class="order-id-label">Order ID</span>
              <span class="separator">|</span>
              <span class="order-id-value">2503010012</span>
            </div>
            <button class="view-details-button">View details</button>
          </div>
          <p class="order-address">
            Address: 16 Thong Nhat, Thuan Giao, Thuan An, Binh Duong Province, Viet Nam.
            <br />
            Phone: 0909888777
          </p>
        </article>
      </div>
    </div>
  </div>
</div>