/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


/* Add to your main styles.css file */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #FFFCF3;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
  }
  
  /* This class should wrap your main content */
  .main-content {
    flex: 1 0 auto;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
cdk-overlay-container {
  position: fixed !important;
  z-index: 1056 !important; /* Higher than Bootstrap's modal */
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Style the backdrop */
.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

/* Style the dialog container */
.custom-dialog-container {
  position: relative !important;
}

.mat-dialog-container {
  padding: 0 !important;
  overflow: visible !important;
  position: relative !important;
}

/* Make sure body doesn't shift */
body.cdk-global-scrollblock {
  position: static !important;
  width: 100% !important;
  overflow: hidden !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
