body {
    font-family: Inter, sans-serif;
    background-color: #FFFCF3;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1rem;
}

/* Banner Section */
.banner {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.banner-slider {
    display: flex;
    width: 300%; /* 100% * 3 */
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.banner-image {
    width: 100vw;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
    position: relative;
}
.banner-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.banner-text h1 {
    font-size: 64px;
    font-family: "Zen Old Mincho", serif;
    font-weight: 700;
    margin-bottom: 5px; 
}
.banner-text p {
    font-size: 24px;
    font-family: "Zen Old Mincho", serif;
    font-weight: 0;
    margin-top: 5px;
}

.shop-now {
    display: inline-block; /* Đảm bảo button có kích thước thực */
    padding: 15px 30px;
    background: rgba(242, 234, 211, 0.70);
    border: 2px solid rgba(242, 234, 211, 1); /* Viền trắng giúp nổi bật */
    color: white;
    font-size: 24px;
    font-family: "Zen Old Mincho", serif;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.shop-now:hover {
    background: rgba(242, 234, 211, 1); /* Hover đậm màu hơn */
}  
.dots-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}
.dot {
    width: 18px;
    height: 18px;
    background: rgba(242, 234, 211, 0.50);
    border-radius: 50%;
    cursor: pointer;
}
.dot.active {
    background: #F2EAD3;
}



/* Feels Found Section */
.feels-found {
    margin-top: 60px;
    text-align: center;
    padding: 0 47px;
}

.feels-found h2 {
    font-size: 32px;
    color: #5E4C3E;
    font-family: "Zen Old Mincho", serif;
    font-weight: 400; /* Không in đậm */
    margin-bottom: 10px;
    margin-top: 60px;
}
.feels-found p {
    font-size: 14px;
    font-family: Inter, sans-serif;
    color: rgba(0, 0, 0, 0.40);
    font-style: italic;
    margin-bottom: 30px;
}

/* Category Grid */
.category-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.category-item {
    text-align: center;
    flex: 1;
}
.category-item :hover {
    cursor: pointer;
}
.category-item img {
    width: 165px;
    height: 262px;
    object-fit: cover;
}
.category-item span {
    font-size: 16px;
    font-weight: 700;
    color: #3F2305;
    font-family: "Zen Old Mincho", serif;
    display: block;
    margin-top: 10px;
}

/* The Soul */
.soul-container {
    text-align: center;
    padding: 0 47px;
} 
.soul-container h2 {
    font-size: 32px;
    color: #5E4C3E;
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 60px;
}
.soul-container p {
    font-size: 14px;
    font-family: Inter, sans-serif;
    color: rgba(0, 0, 0, 0.40);
    font-style: italic;
    margin-bottom: 30px;
}


.container {
    border-collapse: collapse;
    background-color: #FFFCF3;
    box-sizing: border-box;
    /* margin: 60px; */
}

/* Left Column (Image) */
.left-column {
    height: auto;
    border: none;
    box-sizing: border-box;
    overflow: hidden;
}

.left-column img {
    width: 100%; /* Đảm bảo ảnh luôn chiếm đủ chiều rộng */
    height: auto; /* Giữ tỷ lệ ảnh */
    display: block;
    object-fit: cover;
}


/* Right Column (Text) */
.right-column {
    padding-left: 30px;
    vertical-align: middle;
    border: none;
    text-align: left;
    box-sizing: border-box;
    width: 50%;
}

/* Description of Collection */
.collection-description {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.60);
    font-style: italic;
    line-height: 30px;
    margin-top: 20px;
    line-height: 42px; 
    text-align: center;
}

/* Hot collection */
.hot-collection {
    padding: 0 47px;
    text-align: center;
}

.hot-collection h2 {
    font-size: 32px;
    color: #5E4C3E;
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 60px;
}

.hot-collection p {
    font-size: 14px;
    font-family: Inter, sans-serif;
    color: rgba(0, 0, 0, 0.40);
    font-style: italic;
    margin-bottom: 30px;
}

.collection-content {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 40px;
    vertical-align: center;
}

.collection-text {
    text-align: center;
    vertical-align: center;
}

.collection-name {
    font-size: 34px !important;
    color: #5E4C3E !important;
    font-family: "Zen Old Mincho", serif !important;
    margin-bottom: 20px; 
    text-align: center;
}

.collection-description1 {
    font-size: 20px !important; 
    font-family: Inter, sans-serif;
    color: rgba(0, 0, 0, 0.60);
    line-height: 42px; 
    text-align: center;
    margin-right: 47px;
    margin-left: 47px;
}

.collection-image {
    margin-right: 10px;
}

.collection-image img {
    object-fit: cover;
}

.explore-button {
    width: 211.44px;
    height: 56.64px;
    background: rgba(94, 76, 62, 0.70);
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 24px;
    font-family: "Zen Old Mincho", serif;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px; /* Khoảng cách giữa mô tả và nút Explore more */
    margin-left: auto; /* Căn giữa */
    margin-right: auto; /* Căn giữa */
    margin-bottom: 45px;
}

.explore-button:hover {
    background: rgba(94, 76, 62, 1); /* Thêm hiệu ứng hover khi di chuột qua nút */
}

/* Our values */
.values-container {
    max-width: 100%; 
    margin-top: 80px;
    text-align: center;
    padding: 0 40px; /* Thêm padding trái và phải */
}

.values-container h2 {
    font-size: 32px;
    color: #5E4C3E;
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 60px;
}

.values-content {
    display: flex;
    align-items: center; /* Căn giữa dọc */
    justify-content: center;
    gap: 40px; /* Đảm bảo khoảng cách hợp lý */
    position: relative;
}

.values-image {
    flex: 1;
    flex-basis: 50%; 
    align-items: center;
    justify-content: center;
    max-width: 100%;;
    margin-right: 10px;
    margin-left: 10px;
}

.values-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

/* Our services */
.wrapper {
    padding-left: 40px;
    padding-right: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.service-box {
    text-align: center;
    flex: 1;
    margin: 0 10px;
    height: 280px;
    position: relative;
    background: rgba(242, 234, 211, 0.20);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thêm hiệu ứng đổ bóng */
    transition: box-shadow 0.3s ease-in-out; /* Thêm hiệu ứng chuyển đổi mượt mà */
}

.service-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* Tăng hiệu ứng đổ bóng khi hover */
}

.service-box img {
    width: 70px; /* Điều chỉnh kích thước hình ảnh nếu cần */
    height: auto;
    margin-top: 40px;
}

.service-box h3 {
    color: #5E4C3E;
    font-size: 24px;
    font-family: 'Zen Old Mincho', serif;
    margin-top: 10px;
}

.service-box p {
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}


/* Contact */
/* Container của toàn bộ phần contact */
.contact-container {
    width: 85%;
    max-width: 1340px;
    margin: 80px auto;
    text-align: center;
    background-color: #f8f4e9;
    padding: 40px 40px; /* Điều chỉnh padding cho phù hợp */
}

/* Tiêu đề "CONTACT US" */
.contact-title {
    font-size: 32px;
    color: #5E4C3E;
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    margin-bottom: 50px;
}

/* Phần form điền email */
.email-form-container {
    width: 100%;
    height: 72px;
    position: relative;
    margin: 0 auto;
}

/* Định dạng cho input */
.email-input {
    width: 80%;
    height: 60px; /* Chiều cao của input */
    padding: 0 20px; /* Khoảng cách giữa nội dung và viền trái/phải */
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    border: none;
    outline: none;
    background-color: rgba(94, 76, 62, 0.5);
    box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến chiều rộng/chiều cao tổng thể */
    transition: border 0.3s ease, box-shadow 0.3s ease; /* Hiệu ứng chuyển đổi cho viền và bóng đổ */
    line-height: 60px; /* Căn giữa văn bản theo chiều dọc */
}

/* Định dạng cho placeholder */
.email-input::placeholder {
    color: white; /* Màu chữ placeholder */
}

/* Hiệu ứng khi input được focus */
.email-input:focus {
    border: 2px solid #5E4C3E; /* Màu viền khi focus */
    box-shadow: 0 0 5px rgba(94, 76, 62, 0.5); /* Hiệu ứng bóng đổ khi focus */
}



/* Icon mũi tên nằm trong textarea */
.email-icon {
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    vertical-align: center;
    margin-right: 30px;
}

/* Nội dung mô tả email */
.email-info {
    font-size: 20px;
    font-family: Inter, sans-serif;
    color: rgba(0, 0, 0, 0.60);
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
    max-width: 900px;
    margin: 30px auto;
}

@media (max-width: 768px) {
    html, body {
        font-size: 0.9rem;
    }
    
    .banner-text h1 {
        font-size: 6vw;
    }

    .category-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .category-item {
        width: 45%;
        margin-bottom: 10px;
    }

    .soul-content, .collection-content {
        flex-direction: column;
    }
}


.zoom-in-hover-effect {
    opacity: 0;
    transform: scale(0.5);
    animation: zoomInAnimation 1.5s forwards;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.zoom-in-hover-effect:hover {
    transform: scale(1.1) !important; /* Phóng to ảnh khi hover, dùng !important để đảm bảo không bị ghi đè */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6); /* Thêm bóng đổ khi hover */
}

@keyframes zoomInAnimation {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.zoom-in {
    opacity: 0;
    transform: scale(0.5);
    animation: zoomInAnimation 1.5s forwards;
}

@keyframes zoomInAnimation {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


