<body>
    <!-- Banner -->
    <div class="banner">
        <div class="banner-slider">
            <img src="images/homepage/Banner 1.jpg" class="banner-image" alt="Banner 1">
            <img src="images/homepage/Banner 2.jpg" class="banner-image" alt="Banner 2">
            <img src="images/homepage/Banner 3.jpg" class="banner-image" alt="Banner 3">
        </div>
        <div class="banner-text">
            <h1>EVOCASA</h1>
            <p>Craft Your Space, Elevate Your Life</p>
            <a routerLink="/product"><button class="shop-now">SHOP NOW</button></a>
        </div>
        <div class="dots-container">
            <span class="dot" (click)="changeSlide(0)"></span>
            <span class="dot" (click)="changeSlide(1)"></span>
            <span class="dot" (click)="changeSlide(2)"></span>
        </div>
    </div>

    <!-- Feels Found Section -->
    <div class="feels-found">
        <h2>FEELS FOUND</h2>
        <p>You can explore all the product categories EvoCasa offers</p>
        <div class="category-container">
            <div class="category-item" [routerLink]="'/product/Furniture'">
                <img src="images/homepage/Furniture_3.jpg" alt="Furniture" class="hover-effect">
                <span>Furniture</span>
            </div>
            <div class="category-item">
                <img src="images/homepage/Decor_3.jpg" alt="Decor" class="hover-effect">
                <span>Decor</span>
            </div>
            <div class="category-item">
                <img src="images/homepage/Dining_1.jpg" alt="Dining & Entertaining" class="hover-effect">
                <span>Dining & Entertaining</span>
            </div>
            <div class="category-item">
                <img src="images/homepage/1a.jpg" alt="Soft Goods" class="hover-effect">
                <span>Soft Goods</span>
            </div>
            <div class="category-item">
                <img src="images/homepage/Grapevine Leaf Table Lamp (1).jpg" alt="Lighting" class="hover-effect">
                <span>Lighting</span>
            </div>
            <div class="category-item">
                <img src="images/homepage/Art_1.jpg" alt="Art" class="hover-effect">
                <span>Art</span>
            </div>
        </div>
    </div>

    <!-- The Soul -->
    <div class="soul-container">
        <h2>THE SOUL OF EVOCASA</h2>
        <p>The story of how EvoCasa was born, shaped by the passion for crafting living spaces.</p>
        <div class="soul-content">
            <div class="soul-image">
                <img src="images/homepage/Banner1.jpg" alt="EvoCasa Interior" class="hover-effect">
            </div>
            <div class="soul-text">
                <p class="soul-description">
                    Every space tells a unique story, and EvoCasa brings those stories to life.
                    Inspired by the blend of classic elegance and modern charm, we craft pieces embody
                    art, comfort, and the warmth of home.
                </p>
            </div>
        </div>
    </div>


    <!-- Hot collection -->
    <div class="hot-collection">
        <h2>HOT COLLECTION</h2>
        <p>Timeless elegance, crafted to transform your space with sophistication and warmth.</p>
        <div class="collection-content">
            <div class="collection-text">
                <p class="collection-name">
                    Sabi Collection
                </p>
                <p class="collection-description">
                    Each contour is thoughtfully crafted to reflect the fluid elegance of a woman's shoulder and
                    neckline, inviting admiration and allure with every glance.
                </p>
                <a href="../collection-detail/sabi-collection/sabi-collection.component.html" target="_blank">
                    <button class="explore-button">Explore more</button>
                </a>
            </div>

            <div class="collection-image">
                <img src="images/homepage/Sabi_2.jpg" alt="Sabi Collection Image" class="hover-effect">
            </div>
        </div>
    </div>

    <!-- Our values -->
    <div class="values-container">
        <h2>OUR VALUES</h2>
        <div class="values-content">
            <div class="values-image">
                <img src="images/homepage/ourvalues.png">
            </div>
        </div>
    </div>

    <!-- Our services -->
    <div class="values-container">
        <h2>OUR SERVICES</h2>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="service-box">
                <img src="images/homepage/Vector.png" style="margin-bottom: 20px;" alt="Free Shipping">
                <h3>Free Shipping</h3>
                <p>For Orders Over 10 Million VND<br> in Ho Chi Minh City</p>
            </div>
            <div class="service-box">
                <img src="images/homepage/Vector (1).png" alt="Freely Customize">
                <h3>Freely Customize</h3>
                <p>Personalize Your Furniture</p>
            </div>
            <div class="service-box">
                <img src="images/homepage/Vector (2).png" alt="Online Supporting">
                <h3>Online Supporting</h3>
                <p>24/7 Customer Support Service</p>
            </div>
            <div class="service-box">
                <img src="images/homepage/Vector (3).png" alt="Lifetime Warranty">
                <h3>Lifetime Warranty</h3>
                <p>Offer Repair and Warranty Service</p>
            </div>
        </div>
    </div>



    <!-- Contact -->
    <div class="contact-container">
        <h2 class="contact-title">CONTACT US</h2>
        <div class="email-form-container">
            <div class="form-background"></div>
            <!-- Thẻ input cho email -->
            <input type="email" class="email-input" placeholder="Your Email">
            <div class="email-icon">
                <img src="images/homepage/arrow.png" alt="Arrow" width="32" height="32" viewBox="0 0 32 32" fill="none">
            </div>
        </div>
        <p class="email-info">
            Fill in your email to receive 10% off your first purchase and you'll hear<br />
            about our new product collections, antiquities, and more before<br />
            anyone else!
        </p>
    </div>


</body>