<body>

<div class="container">
    <div class="header">
        <div class="header-text">
            <h1>The Pavilion Collection</h1>
            <p>Sweet lines and stately presence.</p>
        </div>
    </div>

    <div class="header-image-container">
        <img src="images/collection/The Pavilion Collection/The Pavilion Collection 1.jpg" alt="Collection Image" class="image-effect1">
    </div>

    <div class="flex-section">
        <div class="left-section">
            <img src="images/collection/The Pavilion Collection/The Pavilion Collection 2.jpg" alt="Featured Item" class="zoom-in-hover-effect">
            <div class="featured">FEATURED</div>
            <div class="featured-item">Pavilion Chair</div>
        </div>

        <div class="right-section">
            <h2 class="inspiration-title">THE CONCEPTION</h2>
            <p>Our Pavilion Collection is all about delicate touches. The collection was originally inspired by our Pavilion Apartment project. We envisioned the classic wingback with a twist, accentuating the swayed lines, contouring the arms, and adding flair to the base with French bouillon.</p>
            <p>Sleek lines and delicate finesse are the main focus. With hand pulled natural webbing and a meticulous upholstery process, each chair is unique. Master upholsterers hand-pull the fabric to sculpt the interior back, giving the chair its unique shaping and lumbar support that keeps you sitting pretty.</p>
            <p></p>
            <h2 class="inspiration-title">THE INSPIRATION</h2>
            <p>Inspired by the thousands of chairs we’ve sat on that weren't quite a fit. Our Pavilion chair is everything you need to dive into a full day of reading.</p>
        </div>
    </div>

    <div class="final-section">
        <div class="final-left">
            <div class="conception-section">
                <div class="conception-title">THE COLLECTION</div>
                <div class="conception-description">
                    <p>A love of all things masculine and feminine, this piece combines the best of both. For anyone who loves fringe, this piece is a gateway to designing with fringe-making it feel modern and playful all at the same time.</p>
                </div>
            </div>
            <div class="process-section">
                <div class="final-title">THE PROCESS</div>
                <div class="final-description">
                    <div class="quote-container">
                        <p>“Our aim was to create an amalgamation of English classic high society style with an Italian mid-century drama for an American audience. This is our staple piece that redefines mid-century and transports you back in time” - Blair Moore, Founder of Roweam.</p>
                    </div>                    
                </div>
            </div>
            <div class="process-section">
                <div class="final-title">WHY YOU</div>
                <div class="final-description">
                    <p>Because sometimes you just need a good accent chair that’s as comfortable as she is beautiful. A sophisticated and growing collection, this chair is the first of many complementary pieces to come.</p>
                </div>
            </div>
        </div>

        <div class="final-right">
            <img src="images/collection/The Pavilion Collection/The Pavilion Collection 3.jpg" alt="Featured Item" class="zoom-in-hover-effect">
            <div class="featured-item">1. The Pavilion Chair</div>

            <img src="images/collection/The Pavilion Collection/The Pavilion Collection 4.jpg" alt="Featured Item" class="zoom-in-hover-effect">
            <div class="featured-item">2. The Pavilion Chair</div>
        </div>
    </div>

    <div>
        <div class="product-title">Shop The Pavillion Collection</div>
    </div>

    <div>
        <div class="products">
            <div class="product">
                <a href="/product-detail/Darla%2520Armchair" style="text-decoration: none;">
                    <img src="images/collection/Furniture/Darla Armchair1.jpg" alt="FDarla Armchair" class="zoom-in-hover-effect">
                    <div class="product-details">
                        <div class="product-info">Darla Armchair</div>
                        <div class="price">$1,700</div>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="product-detail/Venetian%2520Armoire" style="text-decoration: none;">
                    <img src="images/collection/Furniture/Venetian Armoire1.jpg" alt="Venetian Armoire" class="zoom-in-hover-effect">
                    <div class="product-details">
                        <div class="product-info">Venetian Armoire</div>
                        <div class="price">$14,500</div>
                    </div>
                </a>    
            </div>
            <div class="product">
                <a href="product-detail/Lorenzo%2520Sofa" style="text-decoration: none;">
                    <img src="images/collection/Furniture/Lorenzo Sofa3.jpg" alt="Lorenzo Sofa" class="zoom-in-hover-effect">
                    <div class="product-details">
                        <div class="product-info">Lorenzo Sofa</div>
                        <div class="price">$16,500</div>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="/product-detail/Darla%2520Armchair" style="text-decoration: none;">
                    <img src="images/collection/Furniture/Darla Armchair4.jpg" alt="Darla Armchair" class="zoom-in-hover-effect">
                    <div class="product-details">
                        <div class="product-info">Darla Armchair</div>
                        <div class="price">$1,700</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
</body>