 <header>
   <div class="navbar">
     <!-- Search Bar -->
     <div class="search">
       <button>
         <img src="images/header/Search-icon.svg" alt="Search" />
       </button>
       <input type="text" placeholder="SEARCH" />
     </div>
 
     <!-- User Actions -->
     <div class="user-actions">
       <div class="notification">
         <img src="images/header/Noti-icon.png" alt="Notifications" />
       </div>
       <div class="user-profile">
         <span><a routerLink="/order-detail">Hi, Huyen</a></span>
         <img src="images/header/avt.png" alt="User Profile" />
       </div>
     </div>
   </div>
 </header>
 