<body>

<div class="container">
    <div class="header">
        <div class="header-text">
            <h1>The Anniversary Collection</h1>
            <p>Crafted with a deep appreciation for heritage, this collection is both rich and understated, perfectly embodying the essence of Eternal Nostalgia</p>
        </div>
    </div>

    <div class="header-image-container">
        <img src="images/collection/The Anniversary Collection/The Anniversary Collection.jpg" alt="Collection Image" class="header-image-effect">
    </div>

    <div class="conception-section">
        <div class="conception-title">THE CONCEPTION</div>
        <div class="conception-description">
            <p>A refined tribute to timeless elegance, ROWEAM’s “Eternal Nostalgia” collection seamlessly blends vintage allure with modern sophistication.</p>
            <p>“Crafted with a deep appreciation for heritage, this collection is both rich and understated, perfectly embodying the essence of Eternal Nostalgia.”</p>
            <p>Our vision for this anniversary collection celebrates the harmonious interplay of past and present. With meticulously curated materials and expert craftsmanship, each piece exudes a timeless grace. Drawing inspiration from the transformative journey of vintage elements, this collection embodies a perfect balance of storied elegance and contemporary refinement, offering a symphony of classic charm and modern beauty.</p>
        </div>
    </div>

    <div class="flex-section">
        <div class="left-section">
            <img src="images/collection/The Anniversary Collection/The Anniversary Collection 1.jpg" alt="Featured Item" class="zoom-in-hover-effect">
            <div class="featured">FEATURED</div>
            <div class="featured-item">The Bromley Sofa - Cocoa</div>
        </div>

        <div class="right-section">
            <h2 class="inspiration-title">THE INSPIRATION</h2>
            <p>Every detail of the “Eternal Nostalgia” collection is meticulously designed to capture the timeless grace of vintage craftsmanship, inviting admiration and reverence with every gaze.</p>
            <p>The carefully selected materials are expertly transformed to enhance the allure of each piece, while intricate detailing elevates the art of living. The collection features luxurious textures and refined finishes that invite you to experience their beauty firsthand. Each item is a testament to enduring elegance, with a design that gracefully combines historical charm with modern sophistication.</p>
            <p>A foundation of understated opulence, the collection's elements are poised to become treasured parts of your home, making space for both cherished memories and everyday moments. Embrace the beauty of the past and the promise of the present with pieces that offer both comfort and a touch of grandeur.</p>
        </div>
    </div>

    <div class="dual-images-section">
        <div class="dual-image-container">
            <img class="dual-image-1" src="images/collection/The Anniversary Collection/The Anniversary Collection 2.jpg" alt="Dual Image 1" class="zoom-in-hover-effect">
            <img class="dual-image-2" src="images/collection/The Anniversary Collection/The Anniversary Collection 3.jpg" alt="Dual Image 2" class="zoom-in-hover-effect">
        </div>
        <div class="dual-image-items">
            <div class="item-1">1. Arnt Lande Chair by Møller & Stokke</div>
            <div class="item-2">2. Cement Coffee Table</div>
        </div>
    </div>

    <div class="final-section">
        <div class="final-left">
            <p>Introducing Our One-Year Anniversary Collection: "Eternal Nostalgia"</p>
            <p>For EvoCasa’s 1-year anniversary collection, “Eternal Nostalgia,” we celebrate the beautiful fusion of vintage charm and contemporary sophistication. This collection highlights the transformative journey of materials, breathing new life into antique and reclaimed elements.</p>
            <p>Our collection highlighted pieces are the Arnt Lande Chair designed by Arnt Lande and produced by Møller & Stokke during the early 1940s, these chairs epitomize the era’s emphasis on simplicity and high-quality materials. Constructed from pine—a local wood known for its strength and beauty—these chairs exhibit masterful craftsmanship. The gorgeous Sea Fish, c.1870 vintage reprint from the famous artist, Antoine Vollon, a distinguished French painter celebrated for his exceptional still-life compositions and genre scenes. Seen in Musée d'Orsay. This collection features exquisite, distinct pieces that are ready to elevate your home or your clients’ spaces with unparalleled elegance.</p>
            <p>Thank you to everyone who has joined us on this journey and supported us through our first successful year!</p>
        </div>

        <div class="final-right">
            <img src="images/collection/The Anniversary Collection/The Anniversary Collection 4.jpg" alt="Featured Item" class="zoom-in-hover-effect">
            <div class="featured">FEATURED</div>
            <div class="featured-item">Danish Cabinetmaker Chair - Espresso</div>
        </div>
    </div>
    <div>
        <div class="product-title">Shop The Anniversary Collection</div>
    </div>
    
    <div>
        <div class="products">
            <div class="product">
                <a href="product-detail/Danish%2520Cabinetmaker%2520Sofa%2520-%2520Espresso" style="text-decoration: none;">
                    <img src="images/collection/Furniture/Danish Cabinetmaker Sofa - Espresso1.jpg" alt="Danish Cabinetmaker" class="zoom-in-hover-effect">
                    <div class="product-details">
                        <div class="product-info">Danish Cabinetmaker</div>
                        <div class="price">$7,000</div>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="product-detail/Art%2520Deco%2520Stools" style="text-decoration: none;">
                    <img src="images/collection/Furniture/Art Deco Stools1.jpg" alt="Art Deco Stools" class="zoom-in-hover-effect">
                    <div class="product-details">
                        <div class="product-info">Art Deco Stools</div>
                        <div class="price">$1,250</div>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="product-detail/French%2520Sculptural%2520Lamp" style="text-decoration: none;">
                    <img src="images/Lighting/French Sculptural Lamp1.jpg" alt="French Sculptural Lamp" class="zoom-in-hover-effect">
                    <div class="product-details">
                        <div class="product-info">French Sculptural Lamp</div>
                        <div class="price">$4,500</div>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="product-detail/Ambiance%2520Coffee%2520Table" style="text-decoration: none;">
                    <img src="images/collection/Furniture/Ambiance Coffee Table1.jpg" alt="Ambiance Coffee Table" class="zoom-in-hover-effect">
                    <div class="product-details">
                        <div class="product-info">Ambiance Coffee Table</div>
                        <div class="price">$8,950</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
</body>
