body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFCF3;
}

.container {
    margin: 0 50px;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.header-text {
    color: #3F2305;
    font-family: 'Zen Old Mincho', serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 38px;
}
.header-text h1{
    color: #3F2305;
    font-family: 'Zen Old Mincho', serif;
    font-size: 45px;
    font-weight: 100;
    line-height: 38px;
}

.header p {
    font-family: 'Inter', serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.40);
    font-style: italic;
    margin-right: 100px;
    margin-left: 100px;
}

.header-image-container {
    text-align: center;
    margin-bottom: 100px;
}

.header-image-effect {
    width: 100%;
    height: auto;
    border-radius: 50px;
    opacity: 0;
    transform: scale(0.5);
    animation: zoomInAnimation 1.5s forwards;
    transition: filter 0.5s; /* Thêm hiệu ứng mờ */
}

.conception-section {
    margin-bottom: 100px;
}

.conception-title {
    font-family: 'Zen Old Mincho', serif;
    font-size: 25px;
    font-weight: 700;
    color: #5E4C3E;
}

.conception-description p {
    font-size: 18px;
    line-height: 1.6;
    color: #5E4C3E;
    text-align: justify;
}

.flex-section {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 100px;
}

.left-section {
    width: 45%;
    text-align: left;
}

.left-section img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.featured {
    font-family: 'Zen Old Mincho', serif;
    font-size: 18px;
    color: #3F2305;
    line-height: 1.6;
}

.featured-item {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #5E4C3E;
    line-height: 1.6;
}

.right-section {
    width: 50%;
    color: #5E4C3E;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.inspiration-title {
    font-family: 'Zen Old Mincho', serif;
    font-size: 25px;
    color: #5E4E41;
    margin-bottom: 10px;
}

.dual-images-section {
    display: flex;
    flex-direction: column;  /* Chuyển thành cột */
    align-items: center;  /* Căn giữa tất cả các phần tử */
    margin-bottom: 100px;
}

.dual-images-section {
    display: flex;
    justify-content: center; 
    gap: 0px;
    margin-bottom: 100px;
}

.dual-image-container {
    display: flex;
    gap: 10px;
}

.dual-image-1 {
    width: 495px;
    height: 660px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
}

.dual-image-2 {
    width: 495px;
    height: 660px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
}

.dual-image-items {
    display: flex; 
    justify-content: center; 
    width: 100%;
    text-align: center;
}

.item-1 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #3F2305;
    font-style: italic;
    font-weight: 500;
    line-height: 38px;
    margin-right: 170px;
}

.item-2 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #3F2305;
    font-style: italic;
    font-weight: 500;
    line-height: 38px;
    margin-left: 10px;
    margin-right: 80px;
}


.final-section {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 100px;
}

.final-left {
    width: 60%;
    font-size: 18px;
    color: #5E4C3E;
    line-height: 1.6;
    text-align: justify;
}

.final-right {
    width: 35%;
    text-align: left;
}

.final-right img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-title {
    font-family: 'Zen Old Mincho', serif;
    font-size: 30px;
    font-weight: 500;
    color: #5E4C3E;
}


.products {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product {
    text-align: center;
    width: 24%;
}

.product img {
    width: 100%;
    display: block;
    margin-top: 30px;
}

.product-info {
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Zen Old Mincho';
    color: #5E4C3E;
    text-align: left;
    padding-left: 10px;
    margin-right: 5px;
}

.price {
    font-size: 18px;
    text-align: right;
    padding-right: 10px;
    font-family: 'Zen Old Mincho';
    color: #5E4C3E;
    margin-top: 10px;
}

.product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.zoom-in-hover-effect {
    opacity: 0;
    transform: scale(0.5);
    animation: zoomInAnimation 1.5s forwards;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.zoom-in-hover-effect:hover {
    transform: scale(1.1) !important; /* Phóng to ảnh khi hover, dùng !important để đảm bảo không bị ghi đè */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6); /* Thêm bóng đổ khi hover */
}

@keyframes zoomInAnimation {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .container {
        margin: 20px;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .header-image {
        width: 80%;
        margin-top: 20px;
    }

    .flex-section {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
    }
}

