/* Overlay - khi sidebar mở sẽ che phủ toàn bộ vùng còn lại */
.overlay {
    position: fixed;
    top: 93.5px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  /* Nền mờ */
    z-index: 100;  /* Đảm bảo overlay nằm trên cùng */
    pointer-events: auto;  /* Cho phép người dùng tương tác với overlay (đóng sidebar khi click vào overlay) */
    opacity: 1;  
    visibility: visible;
    cursor: pointer;
  }

  .overlay-fading {
    opacity: 0;
  }

.overlay.hidden {
  opacity: 0;  /* Giảm độ mờ đến 0 */
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s 0s; /* Mờ dần trong 1s */
}

/* Đảm bảo nội dung của router-outlet và footer không bị che bởi overlay */
router-outlet,
app-footer {
  z-index: 50; /* Đặt z-index thấp hơn để không bị che bởi overlay */
}