<!-- Header luôn hiển thị phía trên cùng -->
<app-header></app-header>
<app-popup *ngIf="isHomepage"></app-popup>

<!-- Bọc nội dung chính trong div.content để có z-index thấp -->
<div class="content">
  <!-- Nội dung chính -->
  <router-outlet></router-outlet>
</div>

<!-- Footer ở ngoài div.content nhưng vẫn có z-index thấp -->
<app-footer></app-footer>

<!-- Overlay sẽ nằm trên cùng -->
<div
  class="overlay"
  [class.visible]="isOverlayVisible"
  [class.overlay-fading]="isOverlayFading"
  (click)="closeSidebar()"
></div>

<!-- Sidebar luôn tồn tại trong DOM, chỉ thay đổi class để ẩn/hiện -->
<app-sidebar
  [isVisible]="isVisibleSidebar"
  (closeSidebarEvent)="closeSidebar()"
>
</app-sidebar>
