/* Overlay - khi sidebar mở sẽ che phủ toàn bộ vùng còn lại */
/* CSS cho overlay */
.overlay {
  position: fixed;
  top: 93.5px;
  left: 0;
  width: 100%;
  height: calc(100% - 93.5px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  pointer-events: auto;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s;
}

.overlay.overlay-fading {
  opacity: 0;
}
app-sidebar {
  position: fixed;
  z-index: 1001;
  /* Các thuộc tính khác của sidebar */
}


/* Đảm bảo nội dung chính có z-index thấp hơn */
.content, app-footer {
  position: relative;
  z-index: 1;
}

.overlay.hidden {
  opacity: 0;  /* Giảm độ mờ đến 0 */
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s 0s; /* Mờ dần trong 1s */
}

/* Đảm bảo nội dung của router-outlet và footer không bị che bởi overlay */
router-outlet,
app-footer {
  z-index: 50; /* Đặt z-index thấp hơn để không bị che bởi overlay */
}