<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="container">
        <div class="form">
            <img class="img" src="/images/signup/signup.jpg" alt="Signup Image">
            <div class="text">
                <h1>Let’s get started</h1>
                <p class="slogan">Transform Your Home, One Click Away!</p>
               
                <div class="input-container">
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Phone number">
                    <input type="password" placeholder="Password">
                    <input type="password" placeholder="Type password again">
                </div>
                
                
                <div class="checkbox-container">
                    <input type="checkbox" id="agree">
                    <label for="agree">Agree with <strong>&nbsp;Term & Condition</strong></label>
                </div>

                <button class="sign-up">SIGN UP</button>

                <p class="or">—— or Sign up with ——</p>
                <div class="social-icons">
                    <div class="icon"><img src="/images/iconmxh/google.png" alt="Google"></div>
                    <div class="icon"><img src="/images/iconmxh/twitter.png" alt="X"></div>
                    <div class="icon"><img src="/images/iconmxh/facebook.png" alt="Facebook"></div>
                </div>

                <p class="sign-in">Already have an account? <strong><a [routerLink]="['/login-page']">Sign in</a></strong></p>
            </div>
        </div>
    </div>
</body>
</html>
