<div class="whole">
  <main class="container">
    <section class="profile-section">
      <div class="your-order">YOUR ORDER</div>
      <article class="welcome-card">
        <figure class="profile-image">
          <img [src]="customerInfo.Image" alt="Profile" class="profile-pic" />
        </figure>
        <div class="welcome-text">
          <p class="welcome-line">Welcome to EvoCasa</p>
          <p class="name">{{ customerInfo.Name }}!</p>
        </div>
      </article>
      <nav class="menu-list">
        <div class="menu-item" [routerLink]="'/manage-account'">
          <div class="menu-icon-text">
            <img
              src="images/profile/personal_information.svg"
              alt="Personal Information Icon"
              class="menu-icon"
            />
            <span class="menu-text">Personal Information</span>
            <img
              src="images/payment/arrow.svg"
              alt="Personal Information Icon"
              class="rotated-image"
            />
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-icon-text active">
            <img
              src="images/profile/track_order.svg"
              alt="Track Order Icon"
              class="menu-icon"
            />
            <span class="menu-text"><b>Track Order</b></span>
            <img
              src="images/payment/arrow.svg"
              alt="Personal Information Icon"
              class="rotated-image"
            />
          </div>
        </div>
        <div class="menu-item" (click)="signOut()">
          <div class="menu-icon-text active">
            <img
              src="images/profile/sign_out.svg"
              alt="Sign Out Icon"
              class="menu-icon"
            />
            <span class="menu-text">Sign Out</span>
            <img
              src="images/payment/arrow.svg"
              alt="Arrow Icon"
              class="rotated-image"
            />
          </div>
        </div>
      </nav>
    </section>
    <section class="main-content"></section>
  </main>
  <!-- content bên phải -->
  <section class="main-content">
    <header class="order-header">
      <h1 class="order-id">Order ID: 2503010011</h1>
      <div class="order-details">
        <div class="date-group">
          <span class="date-label">Order date:</span>
          <span class="date-value">Mar 01, 2025</span>
        </div>
        <div class="divider"></div>
        <div class="delivery-group">
          <div>
            <div>
              <img
                src="images/ordertrackingdetail/truck-tick.png"
                alt="icon truck"
              />
            </div>
          </div>
          <span class="delivery-text">Estimated delivery: Mar 05, 2025</span>
        </div>
      </div>
    </header>
    <div class="divider-line"></div>
    <section class="tracking-progress">
      <div class="progress-line"></div>
      <div class="progress-steps">
        <div class="step">
          <div class="step-dotcompleted"></div>
          <div class="step-label">Picked up</div>
          <div class="step-date">Sun, 2nd Mar</div>
        </div>
        <div class="step">
          <div class="step-dotcompleted"></div>
          <div class="step-label">In transit</div>
          <div class="step-date">Sun, 2nd Mar</div>
        </div>
        <div class="step">
          <div class="step-dotcompleted"></div>
          <div class="step-label">Out For Delivery</div>
          <div class="step-date">Sun, 2nd Mar</div>
        </div>
        <div class="step">
          <div class="step-dotcompleted"></div>
          <div class="step-label">Delivered</div>
          <div class="step-date">Expected by, Weds 05th</div>
        </div>
      </div>
    </section>
    <section class="timeline-container">
      <article class="timeline-section">
        <h2 class="date-header">05 March, 2025, Wednesday</h2>
        <div class="timeline-event">
          <time class="time">16:30 AM</time>
          <p class="event-textsuccess">Your order delivered successfully</p>
        </div>
        <div class="timeline-event">
          <time class="time">9:30 AM</time>
          <p class="event-text">
            Your order is on its way, please stay alert for a phone call
          </p>
        </div>
      </article>
      <article class="timeline-section">
        <h2 class="date-header">03 March, 2025, Monday</h2>
        <div class="timeline-event">
          <time class="time">21:30 AM</time>
          <p class="event-text">
            Your order has arrived at the delivery station
          </p>
        </div>
        <div class="timeline-event">
          <time class="time">5:00 AM</time>
          <p class="event-text">Your order has left the sorting facility</p>
        </div>
      </article>
      <article class="timeline-section">
        <h2 class="date-header">02 March, 2025, Sunday</h2>
        <div class="timeline-event">
          <time class="time">16:30 AM</time>
          <p class="event-text">Your order has arrived at shipping center</p>
        </div>
        <div class="timeline-event">
          <time class="time">8:00 AM</time>
          <p class="event-text">Your order has been sent to shipping party</p>
        </div>
      </article>
      <article class="timeline-section">
        <h2 class="date-header">01 March, 2025, Saturday</h2>
        <div class="timeline-event">
          <time class="time">14:30 AM</time>
          <p class="event-text">Your order is being prepared</p>
        </div>
        <div class="timeline-event">
          <time class="time">7:00 AM</time>
          <p class="event-text">Order placed successfully</p>
        </div>
      </article>
    </section>
  </section>
</div>
