<div class="container">
  <div class="title">
    <h1 id="all-title">Shop All</h1>
    <p id="category-description"></p> 
  </div>
  <div class="menu">
    <div id="menu-list">
      <div class="level1">
        <div class="category" (click)="toggleSubMenu('all')">All</div>
        <div class="category" (click)="toggleSubMenu('furniture')">Furniture</div>
        <div class="category" (click)="toggleSubMenu('decor')">Decor</div>
        <div class="category" (click)="toggleSubMenu('dining-entertaining')">Dining & Entertaining</div>
        <div class="category" (click)="toggleSubMenu('soft-goods')">Soft Goods</div>
        <div class="category" (click)="toggleSubMenu('lighting')">Lighting</div>
        <div class="category" (click)="toggleSubMenu('art')">Art</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <ng-container *ngFor="let product of products; let i = index">
    <div class="product-card" (click)="viewProductDetails(product)" style="cursor: pointer;">
      <div class="card-header p-0">
        <div class="image-container" (mouseover)="onHover(i)" (mouseleave)="onHoverOut()">
          <ng-container *ngIf="product.Image && product.Image.length > 0">
            <img 
              [src]="product.Image[0]" 
              [alt]="product.Name" 
              class="img-fluid main-image">
            <img 
              *ngIf="hoveredIndex > 0" 
              [src]="product.Image[hoveredIndex]"
              [alt]="product.Name"  
              class="img-fluid hover-image">
          </ng-container>
          <img *ngIf="!product.Image || product.Image.length === 0" 
            src="assets/images/placeholder.jpg"
            [alt]="product.Name" 
            class="img-fluid main-image">
        </div>
      </div>
      <div class="product-header">
        <div class="product-title">{{ product.Name }}</div>
        <div class="product-price">${{ product.Price.toFixed(2) }}</div>
      </div>
    </div>
  </ng-container>
  <div *ngIf="products.length === 0 && !errMessage" class="col-12 text-center">
    <p>No products found.</p>
  </div>
</div>