<html>
<body class="container">
    <table>
        <tr>
            <!-- Left Column (Image) -->
            <td class="left-column">
                <img src="images/collection/The Disc Collection/The Disc Collection 1.jpg" class="zoom-in-hover-effect">
            </td>
            <!-- Right Column (Text) -->
            <td class="right-column">
                <!-- Title of Collection -->
                <div class="collection-title">
                    The Disc Collection
                </div>
                <!-- Description of Collection -->
                <div class="collection-description">
                    A collection of elegant, handcrafted case goods that walk the line between minimal and maximal design.
                </div>
            </td>
    </table>

    <div class="conception">
        <div class="conception-title">THE CONCEPTION</div>
        <div class="conception-description">
            Our Disc collection was born from a love of turnings. We're always surprised how the subtle nature of a hand-drawn story pole transforms a solid block into a delicate, undulating leg. 
            <p>The ability to turn and sculpt one material into another is at the heart of what we do for our clients at Moore House Design. Now with Roweam, the journey transformation through design is available to all.</p>
        </div>
    </div>

    <div class="quote">
        “I would watch my father turn incredible pieces when I was a little girl. I'd sit with him sculpting pieces for my own block house. I vividly remember the spitting of the sawdust, and the gentle pressure of the chisel against the lathe-this will always be my happy place” - Blair Moore, Founder of Roweam
    </div> 


    <table>
        <tr>
            <!-- Left Column (Image) -->
            <td class="left-column">
                <img src="images/collection/The Disc Collection/The Disc Collection 2.jpg" alt="Featured Image" style="margin-top: 60px;" class="zoom-in-hover-effect"/>
                <div class="featured">FEATURED</div>
                <div class="product-name">Danish Cabinetmaker Chair - Espresso</div>
            </td>
            <!-- Right Column (Text) -->
            <td class="right-column">
                <div class="inspiration">THE INSPIRATION</div>
                <p class="description">
                    Our Father and his love for creating something when you can't find what you are looking for.
                </p>
                <div class="quote">
                    “Our dad has always been an 'if you can’t find it, build it' kind of guy. It always seemed like nothing was too hard for him. My sister, Bromley, and I both grew up this way, always solving problems and creating solutions with our furniture from an early age. Roweam is our tribute to him and the beautiful property we grew up on in Australia” - Blair Moore, Founder of Roweam.
                </div>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <!-- Left Column (Image) -->
            <td class="left-column">
                <div class="inspiration" style="margin-top: 50px;">BOBBIN FURNITURE OF THE LATE 1700’S</div>
                <p class="description">
                    Our spool furniture, which is supported by legs that have been turned on a lathe, reduces visual weight and adds ornamentation to any piece of furniture. Seen often in Northern Europe, this technique has been used by numerous furniture makers and designers throughout history.
                </p>
                <img src="images/collection/The Disc Collection/The Disc Collection 3.jpg" class="zoom-in-hover-effect">
                <div class="product-name" style="text-align: center; margin-top: 10px;" >1. The Disc Side Table</div>
            </td>
            <!-- Right Column (Text) -->
            <td class="right-column">
                <img src="images/collection/The Disc Collection/The Disc Collection 4.jpg" class="zoom-in-hover-effect">
                <div class="product-name" style="text-align: center; margin-top: 10px;">2. The Disc Desk</div>
                <div class="quote" style="margin-top: 50px;">
                    “I learned how to use the lathe when I was a toddler while my father worked on custom millwork for an old library in Greenwich, Connecticut. From there I was hooked.” - Blair Moore, Founder of Roweam 
                </div>
            </td>
        </tr>
    </table>

    <div class="conception">
        <div class="conception-title">THE COLLECTION</div>
        <div class="conception-description">
            A collection of hand-turned pieces inspired by bobbin furniture, but our disc-like shapes turn the tradition on its head. A playful collection full of experimentation from our Disc Side Table to the NBL coffee table to our Disc Desk. These playful legs create the feeling of constant change and motion-and that’s the point. 
        </div>
    </div>

    <div class="conception">
        <div class="conception-title">THE PROCESS</div>
        <div class="conception-description">
            We work with several of our tried-and-true artisans and makers directly during every stage of the process. From material selections to finish details, nothing is overlooked. We couldn’t be more ecstatic about the final product.</div>
    </div>

    <div class="conception">
        <div class="conception-title">WHY YOU</div>
        <div class="conception-description">
            Constructed from oak wood and balanced between minimal and maximal design styles, these pieces will meld beautifully into any space. Roweam crafts pieces with only the highest quality of materials. Materials that contribute to this moment in history; pieces that are made to age. This is the new nostalgia. Blair Moore Back to Collection.</div>
    </div>

    <div>
        <div class="product-title">Shop The Disc Collection</div>
    </div>

    <div>
        <div class="products">
            <div class="product">
                <img src="images/collection/Furniture/Rope Chairs1.jpg" alt="Rope Chairs" class="zoom-in-hover-effect">
                <div class="product-details">
                    <div class="product-info">Rope Chairs</div>
                    <div class="price">$6,450</div>
                </div>
            </div>
            <div class="product">
                <img src="images/collection/Furniture/Rope Chairs2.jpg" alt="Rope Chairs" class="zoom-in-hover-effect">
                <div class="product-details">
                    <div class="product-info">Rope Chairs</div>
                    <div class="price">$6,450</div>
                </div>
            </div>
            <div class="product">
                <img src="images/collection/Furniture/Rope Chairs3.jpg" alt="Rope Chairs" class="zoom-in-hover-effect">
                <div class="product-details">
                    <div class="product-info">Rope Chairs</div>
                    <div class="price">$6,450</div>
                </div>
            </div>
            <div class="product">
                <img src="images/collection/Furniture/Rope Chairs4.jpg" alt="Rope Chairs" class="zoom-in-hover-effect">
                <div class="product-details">
                    <div class="product-info">Rope Chairs</div>
                    <div class="price">$6,450</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>