<div class="blog-container">
  <h1 class="blog-title reveal">BLOG</h1>
  <div class="blog-grid">
    <!-- @for(blog of blogs; track blog.id) { -->
    <!-- BÀI 1 -->
    <a routerLink="/blog-2024-sofa-trend">
      <div class="blog-card reveal">
        <img
          src="/images/Blog/bai1/thumbnail.png"
          alt="blog.title "
          class="blog-image"
        />
        <div class="blog-content">
          <h3 class="blog-heading">
            5 INTERIOR DESIGN TRENDS OF 2024 | 2024 SOFA TREND
          </h3>
          <p class="blog-description">
            Favored for their soft and relaxing design, sofas have become an
            essential element of modern interiors. In 2024 - a year of fresh and
            cozy trend -how will sofa choices evolve? <br />Join EVOCASA to
            explore the top interior trends of 2024.
          </p>
          <a class="read-more">Read more →</a>
        </div>
      </div>
    </a>
    <!-- BÀI 2 -->
    <a routerLink="/blog-minimalist-style">
      <div class="blog-card reveal">
        <img
          src="/images/Blog/bai2/img1.jpg"
          alt="blog.title "
          class="blog-image"
        />
        <div class="blog-content">
          <h3 class="blog-heading">MINIMALIST STYLE IN INTERIOR DESIGN</h3>
          <p class="blog-description">
            In today's fast-paced world, we are often caught up in the hustle
            and bustle of work and daily life. Because of this, our living space
            plays a crucial role in helping us find peace and relaxation. One of
            the design styles that has become increasingly popular is
            minimalism—where everything is simplified yet still complete and
            aesthetically pleasing.
          </p>
          <a class="read-more">Read more →</a>
        </div>
      </div>
    </a>
    <!-- BÀI 3 -->
    <a routerLink="/blog-mix-and-match-wood">
      <div class="blog-card reveal">
        <img
          src="/images/Blog/bai3/img5.jpg"
          alt="blog.title "
          class="blog-image"
        />
        <div class="blog-content">
          <h3 class="blog-heading">
            HOW CAN YOU MIX AND MATCH WOOD TONES IN YOUR HOME – WITH CONFIDENCE
          </h3>
          <p class="blog-description">
            Searching for ideas on how to mix wood tones in your home? But
            lacking the confidence on where to start? When it comes to home
            decoration, adding wooden tones and especially mixing them in a
            space can be a bit of a daunting process.
          </p>
          <a class="read-more">Read more →</a>
        </div>
      </div>
    </a>
    <!-- BAI 4 -->
    <a routerLink="/blog-elevating-spaces">
      <div class="blog-card reveal">
        <img
          src="/images/Blog/bai4/img1.jpg"
          alt="blog.title "
          class="blog-image"
        />
        <div class="blog-content">
          <h3 class="blog-heading">
            THE ART OF HOME DECOR: ELEVATING SPACES WITH TIMELESS ARTWORK
          </h3>
          <p class="blog-description">
            When it comes to home decor, art is often the unsung hero. A
            well-placed painting or sketch can transform any space into a
            reflection of your personality and taste.
          </p>
          <a class="read-more">Read more →</a>
        </div>
      </div>
    </a>
    <!-- BAI 5 -->
    <a routerLink="/blog-redefining-comfort">
      <div class="blog-card reveal">
        <img
          src="/images/Blog/bai5/img1.jpg"
          alt="blog.title "
          class="blog-image"
        />
        <div class="blog-content">
          <h3 class="blog-heading">
            REDEFINING COMFORT THROUGH NATURAL DESIGN
          </h3>
          <p class="blog-description">
            Inspired by the timeless charm of rustic aesthetics, EvoCasa brings
            a harmonious blend of earthy tones, natural textures, and
            handcrafted details to your living space.
          </p>
          <a class="read-more">Read more →</a>
        </div>
      </div>
    </a>
    <!-- BAI 6 -->
    <a routerLink="/blog-creating-cozy-haven">
      <div class="blog-card reveal">
        <img
          src="/images/Blog/bai6/img2.jpg"
          alt="blog.title "
          class="blog-image"
        />
        <div class="blog-content">
          <h3 class="blog-heading">
            CREATING A COZY HAVEN: THE CHARM OF DECORATING WITH VINTAGE DECOR
          </h3>
          <p class="blog-description">
            There's something magical about walking into a home that feels warm
            and welcoming. One of the most effective ways to create this
            atmosphere is by incorporating vintage decor.
          </p>
          <a class="read-more">Read more →</a>
        </div>
      </div>
    </a>
    <!-- } -->
  </div>
</div>
