<div class="modal-overlay" [class.show]="isVisible">
  <div class="popup-container">
    <div class="popup-content">
      <button class="close-button" (click)="closePopup()">✖</button>
      <div class="popup-title">SAVE 10%</div>
      <div class="popup-subtitle">on your first order</div>
      <div class="popup-message">Don’t stay behind, join now!</div>
      <div class="input-container">
        <input type="text" class="input-box" placeholder="Your email, please" />
        <button class="submit-button">SUBMIT</button>
      </div>
      <div class="terms">
        By subscribing to our newsletter you agree to our
        <a [routerLink]="['/policy-page']" fragment="privacy">Privacy Policy</a>
      </div>
    </div>
    <img class="popup-image" src="images/popup/popup.png" alt="Popup Image" />
  </div>
</div>
