<div class="footer-wrapper">
  <div class="footer">
    <div class="footer-container">
      <!-- About Section -->
      <div class="footer-section">
        <h3>ABOUT EVOCASA</h3>
        <p>EvoCasa represents the evolution of living spaces, helping every home become a place of connection and a reflection of a modern, minimalist lifestyle.</p>
        <h4>EVOCASA COMPANY</h4>
        <p>0315986019 issued on 31/10/2019 at the Department of Planning and Investment of Ho Chi Minh City</p>
      </div>
      
      <!-- Information Section -->
      <div class="footer-section">
        <h3>INFORMATION</h3>
        <ul class="bullet-list">
          <li><a [routerLink]="['/about']">About EvoCasa</a></li>
          <li><a [routerLink]="['/collection']">Collection</a></li>
          <li><a [routerLink]="['/blog']">Blog</a></li>
          <li><a [routerLink]="['/products']">Products</a></li>
          <li><a [routerLink]="['/in-situ']">In Situ</a></li>
        </ul>
      </div>
      
      <!-- Contact Section -->
      <div class="footer-section">
        <h3>CONTACT</h3>
        <p>669 Do Muoi, Linh Xuan, Thu Duc, HCM City</p>
        <p>Phone: 19008386 - 0961 961 961</p>
        <p>Email: support&#64;evocasa.com</p>
      </div>
      
      <!-- Policy Section -->
      <div class="footer-section">
        <h3>POLICY</h3>
        <ul class="bullet-list">
          <li><a [routerLink]="['/policy/return']">Return Policy</a></li>
          <li><a [routerLink]="['/policy/warranty']">Warranty Policy</a></li>
          <li><a [routerLink]="['/policy/shipping']">Shipping Policy</a></li>
        </ul>
      </div>
      
      <!-- Follow Us & Payment Section -->
      <div class="footer-section">
        <!-- Social Media -->
        <h3>FOLLOW US</h3>
        <div class="follow-us">
          <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
          <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
        
        <!-- Payment Methods -->
        <h3>PAYMENT</h3>
        <div class="payment-icons">
          <img src="images/footer/payment/visa.png" alt="Visa">
          <img src="images/footer/payment/mastercard.png" alt="Mastercard">
          <img src="images/footer/payment/amex.png" alt="Amex">
          <img src="images/footer/payment/discover.png" alt="Discover">
          <img src="images/footer/payment/diners.png" alt="Diners">
          <img src="images/footer/payment/jcb.png" alt="JCB">
          <img src="images/footer/payment/MoMo.png" alt="MoMo">
        </div>
        
        <!-- Certification -->
        <img [src]="'images/footer/bct.png'" alt="Bộ Công Thương" class="certification">
      </div>
    </div>
    
    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <p>Copyright ©{{ currentYear }} by Evocasa. All rights reserved.</p>
    </div>
  </div>
</div>