* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Inter, sans-serif;
    background-color: #FFFCF3;
    padding: 40px;
    height: 100vh;
    color: #5E4C3E;
}
.back-arrow {
    position: absolute; /* Use absolute positioning */
    left: 0; /* Align to the left */
    margin-left: 20px; /* Add some space from the left */
    top: 3px;
    cursor: pointer;
    opacity: 0.8;
}
.container {
    margin-top: 40px;
    text-align: center;
    max-width: 500px;
    margin: auto;
    /* background: #fff; */
    padding: 40px;
    /* border-radius: 10px; */
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
}
.title {
    font-size: 20px;
}

.order-id {
    margin-top: 10px;
    color: #6b5b4d;
}

.divider {
    width: 80%;
    height: 1px;
    background: #ccc;
    margin: 20px auto;
}
.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.progress {
    display: flex;
    align-items: center;
}

.step {
    position: relative;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-number {
    width: 30px;
    height: 30px;
    border: 2px solid #3F2305;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #3F2305;
    font-weight: bold;
    margin-bottom: 5px;
}

.step-title {
    color: #3F2305;
    font-size: 12px;
}

.line-active {
    height: 2px;
    background-color: #3F2305;
    width: 80px;
}
.line-inactive{
    height: 2px;
    background-color: #3F2305;
    width: 80px;
    opacity: 0.6;
}
.step.active .step-number,
.step.active .step-title {
    color: #3F2305;
    font-weight: bold;
}

.step.active .line {
    background-color: #3F2305;
}

.step.inactive .step-number,
.step.inactive .step-title {
    opacity: 0.6;
}

.step-number,
.step-title {
    transition: color 0.3s, opacity 0.3s;
}

.next-btn {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    width: 100%; /* Đảm bảo chiếm hết chiều ngang */
    margin-top: 20px;
    margin-bottom: 80px; /* Đảm bảo khoảng cách dưới */
}

.next-btn button {
    background-color: #525B4A; /* Màu nền theo hình mẫu */
    color: white; /* Màu chữ */
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    text-align: center;
}

.next-btn button:hover {
    background-color: #5E4C3E; /* Màu hover giống mẫu */
}