<body>
    <div class="progress-container">
        <a routerLink="/payment-confirm"><img src="images/payment/arrow.svg" alt="Back Arrow" class="back-arrow"></a>
        <div class="progress">
            <div class="step completed">
                <div class="step-number">✓</div>
                <div class="step-title">Shipping</div>
            </div>     
            <div class="line-active"></div>
            <div class="step completed">
                <div class="step-number">✓</div>
                <div class="step-title">Payment Method</div>
            </div>
            <div class="line-active"></div>
            <div class="step completed">
                <div class="step-number">✓</div>
                <div class="step-title">Confirmation</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="title">Thank you <strong>Huyen</strong>,<br>your order has been received.</div>
        <div class="divider"></div>
        <p class="order-id">SPX14505596FGD-VN</p>
    </div>
    <div class="next-btn">
        <a routerLink=""><button type="submit">CONTINUE SHOPPING</button></a>
    </div>
    <div class="next-btn">
        <a routerLink="/manage-account"><button type="submit">ACCOUNT (TẠM)</button></a>
    </div>
</body>