<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COLLECTIONS</title>
    <!-- <link rel="stylesheet" href="/my-client/src/app/collection/collection.component.css"> -->

</head>
<body class="container">
    <div class="collection">
        <h2>COLLECTIONS</h2>
        <p>Introducing a new collection of pieces that will define a room, crafted to stand the test of time—and always with an element of surprise.</p>
    </div>

    <table>
        <tr>
            <!-- Left Column (Image) -->
            <td class="left-column">
                <img src="images/collection/The Anniversary Collection/The Anniversary Collection 1.jpg"/>
                         style="border-top-right-radius: 100px; border-bottom-left-radius: 50px;">
            </td>
            <!-- Right Column (Text) -->
            <td class="right-column">
                <!-- Title of Collection -->
                <div class="collection-title">
                    The Anniversary Collection
                </div>
                <!-- Description of Collection -->
                <div class="collection-description">
                    Crafted with a deep appreciation for heritage, this collection is both rich and understated, perfectly embodying the essence of Eternal Nostalgia.
                </div>
                <!-- "Read more" Link -->
                <div class="read-more">
                    <span>Read more</span>
                    <a href="../collection-detail/the-anniversary-collection/the-anniversary-collection.component.html">
                        <svg width="40" height="24" viewBox="0 0 40 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.9587 13H6.66699V11H26.9587L17.6253 5.4L20.0003 4L33.3337 12L20.0003 20L17.6253 18.6L26.9587 13Z" fill="#3F2305" fill-opacity="0.7"/>
                        </svg>
                    </a>
                </div>
            </td>
        </tr>


        <tr>
            <!-- Left Column (Text) -->
            <td class="right-column">
                <!-- Title of Collection -->
                <div class="collection-title">
                    Sabi Collection
                </div>
                <!-- Description of Collection -->
                <div class="collection-description">
                    Designed with a woman in mind. Strong but graceful.
                </div>
                <!-- "Read more" Link -->
                <div class="read-more">
                    <span>Read more</span>
                    <a href="../collection-detail/sabi-collection/sabi-collection.component.html">
                        <svg width="40" height="24" viewBox="0 0 40 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.9587 13H6.66699V11H26.9587L17.6253 5.4L20.0003 4L33.3337 12L20.0003 20L17.6253 18.6L26.9587 13Z" fill="#3F2305" fill-opacity="0.7"/>
                        </svg>
                    </a>
                </div>
            </td>
            <!-- Right Column (Image) -->
            <td class="left-column">
                <img src="images/collection/Sabi Collection/Sabi collection 1.jpg" style="border-top-right-radius: 100px;">
            </td>
        </tr>

        <tr>
            <!-- Left Column (Image) -->
            <td class="left-column">
                <img src="images/collection/The Pavilion Collection/The Pavilion Collection 1.jpg" style=" border-bottom-left-radius: 100px;">
            </td>
            <!-- Right Column (Text) -->
            <td class="right-column">
                <!-- Title of Collection -->
                <div class="collection-title">
                    The Pavilion Collection
                </div>
                <!-- Description of Collection -->
                <div class="collection-description">
                    Sweet lines and stately presence.
                </div>
                <!-- "Read more" Link -->
                <div class="read-more">
                    <span>Read more</span>
                    <a href="../collection-detail/the-pavilion-collection/the-pavilion-collection.component.html">
                        <svg width="40" height="24" viewBox="0 0 40 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.9587 13H6.66699V11H26.9587L17.6253 5.4L20.0003 4L33.3337 12L20.0003 20L17.6253 18.6L26.9587 13Z" fill="#3F2305" fill-opacity="0.7"/>
                        </svg>
                    </a>
                </div>
            </td>
        </tr>


        <tr>
            <!-- Left Column (Text) -->
            <td class="right-column">
                <!-- Title of Collection -->
                <div class="collection-title">
                    The Disc Collection
                </div>
                <!-- Description of Collection -->
                <div class="collection-description">
                    A collection of elegant, handcrafted case goods that walk the line between minimal and maximal design.
                </div>
                <!-- "Read more" Link -->
                <div class="read-more">
                    <span>Read more</span>
                    <a href="../collection-detail/the-disc-collection/the-disc-collection.component.css">
                        <svg width="40" height="24" viewBox="0 0 40 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.9587 13H6.66699V11H26.9587L17.6253 5.4L20.0003 4L33.3337 12L20.0003 20L17.6253 18.6L26.9587 13Z" fill="#3F2305" fill-opacity="0.7"/>
                        </svg>
                    </a>
                </div>
            </td>
            <!-- Right Column (Image) -->
            <td class="left-column">
                <img src="images/collection/The Disc Collection/The Disc Collection 1.jpg" style="border-top-right-radius: 100px; border-bottom-left-radius: 50px;">
            </td>
        </tr>

    </table>
</body>
</html>
