<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
/>

<div class="container">
  <div class="box-left">
    <div class="navbar">
      <h4>ALL POLICIES</h4>
      <div class="list">
        <!-- SO 1 -->
        <a
          id="FAQs"
          [class.active]="id === 'FAQs'"
          (click)="tabChange('FAQs', $event)"
          style="cursor: pointer"
        >
          <p class="list-item">FAQs</p>
        </a>
        <!-- SO 2 -->
        <a
          id="return"
          [class.active]="id === 'return'"
          (click)="tabChange('return', $event)"
          style="cursor: pointer"
        >
          <p class="list-item">Return Policy</p>
        </a>
        <!-- SO 3 -->
        <a
          id="warranty"
          [class.active]="id === 'warranty'"
          (click)="tabChange('warranty', $event)"
          style="cursor: pointer"
        >
          <p class="list-item">Warranty Policy</p>
        </a>
        <!-- SO 4 -->
        <a
          id="privacy"
          [class.active]="id === 'privacy'"
          (click)="tabChange('privacy', $event)"
          style="cursor: pointer"
        >
          <p class="list-item">Privacy Policy</p>
        </a>
        <!-- SO 5 -->
        <a
          id="shipping"
          [class.active]="id === 'shipping'"
          (click)="tabChange('shipping', $event)"
          style="cursor: pointer"
        >
          <p class="list-item">Shipping Policy</p>
        </a>
      </div>
    </div>
  </div>
  <div class="box_right">
    <div class="right_content" *ngIf="id === 'FAQs'">
      <a class="sub-header">FAQs</a>
      <div class="faq-container">
        <div class="faq-item" *ngFor="let faq of faqs">
          <div class="faq-question" (click)="toggleFaq(faq)">
            <span>{{ faq.question }}</span>
            <span class="faq-toggle" [class.expanded]="faq.expanded">+</span>
          </div>
          <div class="faq-answer" *ngIf="faq.expanded">
            {{ faq.answer }}
          </div>
        </div>
      </div>
    </div>
    <!-- RETURN POLICY -->
    <div class="right_content" id="return" *ngIf="id === 'return'">
      <p class="sub-header">RETURN POLICY</p>
      <p class="content--item" style="line-height: 1.6">
        At Evocasa, we take pride in the quality of our products and strive to
        maintain the highest standards in service. We aim to minimize any errors
        that might affect your shopping experience. However, should an issue
        arise, we offer an efficient returns and replacements process.The return
        policy applies to customers who shop and make payments on the EvoCasa
        website.
      </p>
      <p class="sub-header-2">Condition For Return</p>
      <ul>
        <li>
          Products sold are non-returnable unless a defect is identified at the
          time of purchase
        </li>
        <li>
          For orders purchased in-store: A one-time return is applicable for
          full-priced products within 7 days from the date stated on the
          receipt.
        </li>
        <li>For orders purchased on the website:</li>
        <ul>
          <li type="circle">
            A one-time return is applicable for full-priced products and
            discounted products (up to 30% off) within 14 days from the date the
            customer receives the product.
          </li>
          <li type="circle">
            A one-time return is applicable for products discounted more than
            30% within 5 days from the date the customer receives the product.
            Only size returns (if available) are permitted, and style returns
            are not allowed.
          </li>
        </ul>
        <li>
          Note: The above return/return periods are calculated from the date the
          customer receives the product, as shown in the courier's system.
          Customers must initiate their return/return request and send back the
          product within the specified timeframe.
        </li>
        <li>
          The original purchase receipt (or a copy in the case of partial
          returns) must be provided.
        </li>
        <li>
          All returned products must be new, unused, and retain original tags,
          packaging, and accompanying accessories as initially provided
          (including product inserts) along with bags, boxes, and any
          complimentary gifts (if applicable).
        </li>
        <li>
          Returns are only accepted for products of equal or higher value than
          the original purchase price:
          <ul>
            <li>
              If the returned product's value is higher, customers must pay the
              price difference.
            </li>
            <li>
              If the returned product's value is lower, EvoCasa will not refund
              the difference.
            </li>
          </ul>
        </li>
        <li>The return policy does not apply to custom-made orders.</li>
      </ul>
      <p>
        <b>Note: </b>If the product does not meet the conditions outlined in
        this return Policy, the return request will be denied, and the product
        will be returned to the customer at their expense. For convenience,
        customers are advised to check the product condition before initiating a
        return request.
      </p>
      <p class="sub-header-2">Contact Information</p>
      <ul>
        <li>
          <b>Hotline:</b> 19008386 (or 0961 961 961) (Operating hours: 9:00 AM -
          9:00 PM, Monday to Sunday, excluding holidays and Tet).
        </li>
        <li><b>Email:</b> support.evocasa.com</li>
      </ul>
    </div>
    <div class="right_content" *ngIf="id === 'warranty'">
      <p class="sub-header">WARRANTY POLICY</p>
      <p class="content--item">
        This warranty policy applies to customers shopping and making payments
        directly at EvoCasa store systems or via the EvoCasa website.
      </p>
      <p class="sub-header-2">Warranty Period:</p>
      <p class="content--item">
        The warranty period is calculated from the purchase date (based on the
        purchase receipt).
      </p>
      <ul>
        <li><b>Home decor items:</b> 12 months</li>
        <li><b>Furniture: </b>24 months</li>
      </ul>
      <p class="sub-header-2">Warranty Conditions:</p>
      <ul>
        <li>The product must still be within the warranty period.</li>
        <li>
          A valid purchase receipt must be presented, containing complete
          information and without being torn, damaged, or tampered with.
        </li>
      </ul>
      <p class="sub-header-2">Cases Where Warranty Is Denied:</p>
      <ul>
        <li>The product does not have a valid purchase receipt.</li>
        <li>The warranty period has expired.</li>
        <li>Discounted products according to EvoCasa’s sales policies.</li>
        <li>
          Products with scratches, damages caused by the customer during usage.
        </li>
        <li>
          Damages resulting from improper use not following EvoCasa’s usage
          instructions.
        </li>
        <li>Products altered or repaired by non-EvoCasa personnel.</li>
        <li>Damages caused by insects or animals.</li>
        <li>
          Damages due to force majeure events such as natural disasters, fires,
          earthquakes, etc.
        </li>
      </ul>
      <p class="sub-header-2">Warranty Scope</p>
      <ul>
        <li>
          <b>EvoCasa</b> only provides warranties for products damaged due to
          manufacturing defects or material faults.
        </li>
        <li>
          <b>Home decor items:</b> Warranty covers visible defects such as
          misaligned joints, discoloration, accessory oxidation, or detachment
          of lacquered accessories due to insufficient technical handling.
        </li>
      </ul>
      <p>
        <b>Note:</b> If the product does not meet the conditions outlined in the
        Warranty Policy, the warranty request will be denied, and the product
        will be returned to the customer at their expense. For convenience,
        please check the product’s condition before submitting a warranty
        request.
      </p>
    </div>
    <!-- privacy -->
    <div class="right_content" id="privacy" *ngIf="id === 'privacy'">
      <p class="sub-header">PRIVACY POLICY</p>
      <p class="sub-header-2" style="margin-left: 0px">Personal Statement</p>
      <p class="content--item" style="margin-left: 0px">
        We are committed to creating a secure and user-friendly experience for
        every customer. To achieve this, we aim to be as clear as possible about
        all our policies, as is evident by our transparent Terms and
        Conditions.When you visit our site, some of your personal information
        supplied during your order or by means of our cookies policy may be
        stored for future use.
      </p>
      <p class="sub-header-2" style="margin-left: 0px">What are "Cookies"?</p>
      <p class="content--item" style="margin-left: 0px">
        Cookies are little text files that are stored within your browser's
        cache. First and third-party cookies are used on this site for
        functionality, statistics, and advertising.
      </p>
      <p class="sub-header-2" style="margin-left: 0px">
        Why do we use cookies?
      </p>
      <p class="content--item" style="margin-left: 0px">
        Cookies is what keep track of settings, thus allowing your shopping
        experience to be tailored to you (remembering your preferences or
        settings).Cookies also gather data, for example, the time of a session,
        viewed pages, or just internal demographic information, like age and
        gender. The information that is gathered can then be used on-site for
        advertising purposes, which helps us create customized shopping
        experiences for our users. We do not use cookies that will track or
        identify you.
      </p>
      <p class="sub-header-2" style="margin-left: 0px">
        What information do we gather specifically?
      </p>
      <p class="content--item" style="margin-left: 0px">
        The information we gather is what you supply us with when signing up for
        a newsletter or making a purchase. This is usually demographic
        information like name, address, and email, or general contact
        information. Cookies will also gather session information like the pages
        you visited, the amount of time spent on each, location, transactions,
        and any other general browsing behavior.
      </p>

      <p class="sub-header-2" style="margin-left: 0px">
        What third-parties do we share your information with?
      </p>
      <p class="content--item" style="margin-left: 0px">
        Any information collected and stored will only be shared with our
        affiliate partners for analytical reasons. We will not share your
        personal information past our brand and trusted brand partners.
      </p>

      <p class="sub-header-2" style="margin-left: 0px">Update</p>
      <p class="content--item" style="margin-left: 0px">
        Our privacy policies are subject to change. All updates will appear on
        this page.
      </p>
    </div>
    <!-- shipping -->
    <div class="right_content" *ngIf="id === 'shipping'">
      <p class="sub-header" style="margin-left: 0px">SHIPPING POLICY</p>
      <p class="sub-header-2">General Provisions:</p>
      <ul>
        <li>
          Shipping carriers will not resolve compensation claims if you accept
          the package and sign the delivery receipt. Therefore, please carefully
          inspect the product's packaging before confirming receipt. If the
          packaging shows signs of damage (tears, dents, holes, or water damage)
          and you suspect that the goods inside are damaged, kindly refuse to
          accept the delivery and inform us immediately.
        </li>
        <li>
          Orders will be delivered to your doorstep, except in cases such as
          restricted access to office areas or high-rise apartments (delivery
          will only be made to the building's main entrance).
        </li>
        <li>
          We encourage customers to record a video of the unboxing process to
          document the condition of the packaging and its contents. This will
          serve as evidence for handling complaints (if necessary).
        </li>
        <li>
          For any complaints related to your order, please provide feedback to
          Hanoia with complete order details, including images of the package's
          current state and product photos, so we can promptly resolve the
          issue.
        </li>
      </ul>
      <p class="sub-header-2">Delivery Coverage</p>
      <ul>
        <li>
          EvoCasa offers nationwide shipping within Vietnam. For international
          shipping outside of Vietnam, please contact EvoCasa's Customer Support
          Department before placing your order.
        </li>
        <li>
          In case of pandemics or unforeseen circumstances at the time of
          delivery, the shipping areas may be adjusted according to government
          regulations.
        </li>
      </ul>
      <p class="sub-header-2">Delivery Time:</p>
      <!-- <h3>Delivery Time</h3> -->
      <p>
        Shipping services operate during business hours from Monday to Saturday
        (excluding Sundays and public holidays as per state regulations).
      </p>
      <ul>
        <li><b>Express Delivery:</b> 2–5 business days.</li>
        <li><b>Store Pickup: </b> Within 24–72 hours.</li>
      </ul>
      <p>
        <b>Note: </b>The delivery times mentioned above are estimated and may
        change due to unforeseen circumstances. Customers will be informed of
        any changes. Delivery times for remote areas, island districts, or
        special administrative zones may require additional 1–3 days compared to
        standard delivery times.
      </p>
      <p style="text-align: center; font-style: italic; font-size: 18px">
        Thank you for visiting Evocasa and helping us in our mission to provide
        an inclusive experience for all.
      </p>
    </div>
  </div>
</div>
