<body>
    <div class="progress-container">
        <a routerLink="/payment-method"><img src="images/payment/arrow.svg" alt="Back Arrow" class="back-arrow"></a>
        <div class="progress">
            <div class="step active">
                <div class="step-number">1</div>
                <div class="step-title">Shipping</div>
            </div>
            <div class="line-active"></div>
            <div class="step active">
                <div class="step-number">2</div>
                <div class="step-title">Payment Method</div>
            </div>
            <div class="line-active"></div>
            <div class="step active">
                <div class="step-number">3</div>
                <div class="step-title">Confirmation</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="info-container">
            <!-- Top Row -->
            <div class="top-row">
                <!-- Your Information -->
                <div class="info-section">
                    <div class="info-header">
                        <h2>Your Information</h2>
                        <a href="#" class="edit-order">Edit</a>
                    </div>
                    <h3>Huyen Nguyen</h3>
                    <p>nththuyenn&#64;gmail.com</p>
                </div>

                <!-- Shipping Address -->
                <div class="info-section">
                    <div class="info-header">
                        <h2>Shipping Address</h2>
                        <a href="#" class="edit-order">Edit</a>
                    </div>
                    <h3>Huyen Nguyen</h3>
                    <p>39 Phan Boi Chau, Quay Nhon City, </p>
                    <p>Binh Dinh Province
                    <p>Viet Nam</p>
                    <p>0855 486 485</p>
                </div>
            </div>

            <!-- Bottom Row -->
            <div class="bottom-row">
                <!-- Payment -->
                <div class="info-section">
                    <div class="info-header">
                        <h2>Payment</h2>
                        <a href="#" class="edit-order">Edit</a>
                    </div>
                    <p><img src="visa-icon.png" alt="Visa Icon" class="payment-icon"><i>Visa card ending in 2030</i></p>
                </div>

                <!-- Billing Address -->
                <div class="info-section">
                    <div class="info-header">
                        <h2>Billing Address</h2>
                        <a href="#" class="edit-order">Edit</a>
                    </div>
                    <h3>Huyen Nguyen</h3>
                    <p>39 Phan Boi Chau, Quay Nhon City, </p>
                    <p>Binh Dinh Province
                    <p>Viet Nam</p>
                    <p>0855 486 485</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Action Button -->
    <div class="action">
        <a href="/payment-notice"><button type="submit">PLACE ORDER</button></a>
    </div>
</body>