<body>
    <div class="progress-container">
        <a routerLink="/payment-method"><img src="images/payment/arrow.svg" alt="Back Arrow" class="back-arrow"></a>
        <div class="progress">
            <div class="step active">
                <div class="step-number">1</div>
                <div class="step-title">Shipping</div>
            </div>
            <div class="line-active"></div>
            <div class="step active">
                <div class="step-number">2</div>
                <div class="step-title">Payment Method</div>
            </div>
            <div class="line-active"></div>
            <div class="step active">
                <div class="step-number">3</div>
                <div class="step-title">Confirmation</div>
            </div>
        </div>
    </div>
</body>