<div class="whole">
  <main class="container">
    <section class="profile-section">
      <div class="your-account">YOUR ACCOUNT</div>
      <article class="welcome-card">
        <figure class="profile-image">
          <img [src]="customerInfo.Image" alt="Profile" class="profile-pic" />
        </figure>
        <div class="welcome-text">
          <p class="welcome-line">Welcome to EvoCasa</p>
          <p class="name">{{ customerInfo.Name }}!</p>
        </div>
      </article>
      <nav class="menu-list">
        <div class="menu-item">
          <div class="menu-icon-text">
            <img src="images/profile/personal_information.svg" alt="Personal Information Icon" class="menu-icon" />
            <span class="menu-text"><b>Personal Information</b></span>
            <img src="images/payment/arrow.svg" alt="Personal Information Icon" class="rotated-image" />
          </div>
        </div>
        <div class="menu-item" [routerLink]="'/view-orders'">
          <div class="menu-icon-text active">
            <img src="images/profile/track_order.svg" alt="Track Order Icon" class="menu-icon" />
            <span class="menu-text">Track Order</span>
            <img src="images/payment/arrow.svg" alt="Personal Information Icon" class="rotated-image" />
          </div>
        </div>
        <div class="menu-item" (click)="signOut()">
          <div class="menu-icon-text active">
            <img src="images/profile/sign_out.svg" alt="Sign Out Icon" class="menu-icon" />
            <span class="menu-text">Sign Out</span>
            <img src="images/payment/arrow.svg" alt="Arrow Icon" class="rotated-image" />
          </div>
        </div>
      </nav>
    </section>
    <section class="main-content"></section>
  </main>
  <div class="content">
    <div class="account-section">
      <!-- PERSONAL INFORMATION -->
      <div class="info-box">
        <h3>PERSONAL INFORMATION</h3>
        <div class="personal-in4" *ngIf="customerInfo">
          <div class="info-row">
            <span class="title">Full name:</span>
            <span class="value">{{ customerInfo.Name }}</span>
          </div>
          <div class="info-row">
            <span class="title">Gender:</span>
            <span *ngIf="!isEditing" class="value">{{ customerInfo?.Gender || 'N/A' }}</span>
            <select *ngIf="isEditing" [(ngModel)]="editableUser.Gender" placeholder="Select Gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="info-row">
            <span class="title">Phone number:</span>
            <span class="value">{{ customerInfo.Phone }}</span>
          </div>
          <div class="info-row">
            <span class="title">Email:</span>
            <span *ngIf="!isEditing" class="value">{{ customerInfo?.Mail || 'N/A' }}</span>
            <input *ngIf="isEditing" [(ngModel)]="editableUser.Mail" type="email" placeholder="Enter your email">
            <p *ngIf="emailError" class="error-text">Invalid email format</p>

          </div>
          <div class="info-row">
            <span class="title">D.O.B: </span>
            <span *ngIf="!isEditing" class="value">{{ formattedDOB || 'N/A' }}</span>
            <input *ngIf="isEditing" [(ngModel)]="editableUser.DOB" type="date">
          </div>
        </div>
        <div class="edit-btn">
          <button *ngIf="!isEditing" (click)="editProfile()">Edit</button>
          <button *ngIf="isEditing" (click)="saveProfile()">Save</button>
          <button *ngIf="isEditing" (click)="cancelEdit()">Cancel</button>
        </div>
      </div>

      <!-- SHIPPING INFORMATION -->
      <div class="info-box">
        <h3>SHIPPING INFORMATION</h3>
        <input type="radio" id="shipping1" name="shipping" class="radio-btn">
        <label for="shipping1" class="shipping-card">
          <div class="shipping-details">
            <p><strong>Andrey</strong></p>
            <p>(+84) 909888777</p>
            <p>An Thanh, Thuan An, Binh Duong</p>
          </div>
          <div class="actions">
            <span class="edit-ship">Edit</span>
            <span class="delete">Delete</span>
          </div>
        </label>
        <input type="radio" id="shipping2" name="shipping" class="radio-btn">
        <label for="shipping2" class="shipping-card">
          <div class="shipping-details">
            <p><strong>Andree Right Hand</strong></p>
            <p>(+84) 909888777</p>
            <p>Thuan Giao, Thuan An, Binh Duong</p>
          </div>
          <div class="actions">
            <span class="edit-ship">Edit</span>
            <span class="delete">Delete</span>
          </div>
        </label>
        <div class="add-address">
          <button class="add-btn">Add More Address</button>
        </div>
      </div>

    </div>
  </div>

</div>