.menu-list {
    border-radius: 7px;
    padding: 10px 20px;
    background-color: #f2ead3;
}


.menu-item {
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 10px;
}

.menu-item:hover {
    background-color: #e0d3b8;
    /* Màu nền thay đổi khi hover */
}

.menu-icon-text {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    /* Tạo khoảng cách giữa icon và chữ */
    font-size: 16px;
    font-weight: normal;
}

.menu-item.active .menu-text {
    font-weight: bold;
    /* Làm đậm chữ "Track Order" */
}

.menu-icon {
    width: 24px;
    height: 24px;
}

.rotated-image {
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
    display: block;
    /* Đảm bảo ảnh không bị ảnh hưởng bởi inline spacing */
    margin-top: 8px;
}

.menu-arrow {
    margin-left: auto;
    /* Đẩy dấu '>' sang phải */
    font-size: 18px;
}

.whole {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    padding: 20px;
    gap: 40px;
    font-family: "Inter", sans-serif;
    margin-left: 40px;
}

.profile-section {
    padding-top: 20px;
    width: 341px;
}

.your-order {
    font-size: 28px;
    font-weight: bold;
    color: #5e4c3e;
    /* margin-bottom: 15px; */
    font-family: "Zen Old Mincho";
    padding-bottom: 40px;
}

.welcome-card {
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 14px;
    background-color: #f2ead3;
}

.profile-image {
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
}

.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.welcome-text {
    text-align: center;
}

.welcome-line {
    font-size: 18px;
    margin-bottom: 11px;
}

.name {
    font-size: 18px;
    font-weight: 700;
}

.body {
    font-family: 'Inter', sans-serif;
    background-color: #FAF6EE;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Zen Old Mincho', serif;
    font-size: 36px;
    font-weight: bold;
    color: #5E4C3E;
    margin-bottom: 30px;
}

.account-section {
    display: flex;
    gap: 30px;
}

.sidebar {
    width: 300px;
    text-align: center;
    margin-right: 40px;
}

.profile-card,
.info-card {
    background: #F2EAD3;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-text {
    height: 83px;
    padding: 17.6px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 11px;
}

.profile-text div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.profile-name {
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-align: left;
    margin-left: 25px;
}

.profile-welcome {
    font-size: 18px;
    font-weight: 400;
    color: black;
    text-align: left;
    margin-left: 25px;
}

.info-card p {
    font-size: 16px;
    font-weight: 400;
    color: #3F2305;
    text-align: left;
    margin-left: 20px;
}

.content {
    flex-grow: 1;
}

.info-box {
    background: #F2EAD3;
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 20px;
}

.info-box h2 {
    color: #5E4C3E;
    font-size: 22px;
    font-family: Zen Old Mincho;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 33px;
    margin-left: 33px;
}

.personal-in4 {
    position: relative;
    color: #5E4C3E;
    font-size: 22px;
    font-family: Zen Old Mincho;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 33px;
    margin-left: 33px;
}

.full-name {
    left: 0px;
    top: 0px;
    position: absolute;
    color: rgba(0, 0, 0, 0.60);
    font-size: 17px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    margin-left: 33px;
}

.gender {
    left: 0px;
    top: 37px;
    position: absolute;
    color: rgba(0, 0, 0, 0.60);
    font-size: 17px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    margin-left: 33px;
}

.phone {
    left: 0px;
    top: 74px;
    position: absolute;
    color: rgba(0, 0, 0, 0.60);
    font-size: 17px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    margin-left: 33px;
}

.email {
    left: 0px;
    top: 113px;
    position: absolute;
    color: rgba(0, 0, 0, 0.60);
    font-size: 17px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    margin-left: 33px;
}

.dob {
    left: 2px;
    top: 156px;
    position: absolute;
    color: rgba(0, 0, 0, 0.60);
    font-size: 17px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    margin-left: 33px;
}

.andrey {
    left: 206px;
    top: 0px;
    position: absolute;
    color: rgba(0, 0, 0, 0.60);
    font-size: 17px;
    font-family: Inter;
    font-style: italic;
    font-weight: 300;
    word-wrap: break-word;
    margin-left: 33px;
}

.female {
    left: 206px;
    top: 37px;
    position: absolute;
    color: rgba(0, 0, 0, 0.60);
    font-size: 17px;
    font-family: Inter;
    font-style: italic;
    font-weight: 300;
    word-wrap: break-word;
    margin-left: 33px;
}

.phone-num {
    left: 206px;
    top: 74px;
    position: absolute;
    color: rgba(0, 0, 0, 0.60);
    font-size: 17px;
    font-family: Inter;
    font-style: italic;
    font-weight: 300;
    word-wrap: break-word;
    margin-left: 33px;
}

.birth {
    left: 206px;
    top: 156px;
    position: absolute;
    color: rgba(0, 0, 0, 0.60);
    font-size: 17px;
    font-family: Inter;
    font-style: italic;
    font-weight: 300;
    word-wrap: break-word;
    margin-left: 33px;
}

.mail {
    left: 206px;
    top: 113px;
    position: absolute;
    color: rgba(0, 0, 0, 0.60);
    font-size: 17px;
    font-family: Inter;
    font-style: italic;
    font-weight: 300;
    word-wrap: break-word;
    margin-left: 33px;
}

.edit1 {
    position: relative;
    color: #3F2305;
    font-size: 17px;
    font-family: Inter;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word;
    text-align: right
}

.andrey1 {
    left: 67px;
    top: 17px;
    position: absolute;
    color: rgba(0, 0, 0, 0.60);
    font-size: 17px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.phone-number {
    left: 67px;
    top: 48px;
    position: absolute;
    color: rgba(0, 0, 0, 0.60);
    font-size: 17px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.address {
    left: 67px;
    top: 83px;
    position: absolute;
    color: rgba(0, 0, 0, 0.60);
    font-size: 17px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.edit-ship {
    left: 570px;
    top: 83px;
    position: absolute;
    color: #3F2305;
    font-size: 17px;
    font-family: Inter;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word;
}

.delete {
    left: 615px;
    top: 83px;
    position: absolute;
    color: #3F2305;
    font-size: 17px;
    font-family: Inter;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word;
}

.add-more-add {
    left: 12px;
    top: 10px;
    position: absolute;
    color: white;
    font-size: 17px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}

.add-more-add-1 {
    width: 180px;
    height: 41px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #515A49;
    border-radius: 14px;
    text-align: center;
}

.add-more-add-2 {
    width: 180px;
    height: 41px;
    position: relative;
    margin-top: 30px;
    vertical-align: right;
    left: 500px;
}

.ship1 {
    width: 9px;
    height: 9px;
    left: 2px;
    top: 2px;
    position: absolute;
    background: rgba(63, 35, 5, 0.70);
    border-radius: 9999px;
}

.ship2 {
    width: 13px;
    height: 13px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(217, 217, 217, 0);
    border-radius: 9999px;
    border: 1px rgba(63, 35, 5, 0.80) solid;
}

.ship3 {
    width: 13px;
    height: 13px;
    left: 0px;
    top: 61px;
    position: absolute;
}

.ship4 {
    width: 640px;
    height: 120px;
    left: 37px;
    top: 0px;
    position: absolute;
    background: #F2EAD3;
    border-radius: 22px;
    border: 2px rgba(94, 76, 62, 0.70) solid;
}