<div class="whole">
  <main class="container">
    <section class="profile-section">
      <div class="your-account">YOUR ACCOUNT</div>
      <article class="welcome-card">
        <figure class="profile-image">
          <img src="https://placehold.co/160x160/f8f0e5/f8f0e5" alt="Profile" class="profile-pic" />
        </figure>
        <div class="welcome-text">
          <p class="welcome-line">Welcome to EvoCasa</p>
          <p class="name">Andrey!</p>
        </div>
      </article>
      <nav class="menu-list">
        <div class="menu-item">
          <div class="menu-icon-text">
            <img src="images/profile/personal_information.svg" alt="Personal Information Icon" class="menu-icon" />
            <span class="menu-text"><b>Personal Information</b></span>
            <img src="images/payment/arrow.svg" alt="Personal Information Icon" class="rotated-image" />
          </div>
        </div>
        <div class="menu-item" [routerLink]="'/view-orders'">
          <div class="menu-icon-text active">
            <img src="images/profile/track_order.svg" alt="Track Order Icon" class="menu-icon" />
            <span class="menu-text">Track Order</span>
            <img src="images/payment/arrow.svg" alt="Personal Information Icon" class="rotated-image" />
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-icon-text active">
            <img src="images/profile/track_order.svg" alt="Track Order Icon" class="menu-icon" />
            <span class="menu-text">Sign Out</span>
            <img src="images/payment/sign_out.svg" alt="Personal Information Icon" class="rotated-image" />
          </div>
        </div>
      </nav>
    </section>
    <section class="main-content"></section>
  </main>
  <div class="content">
    <div class="account-section">
      <!-- PERSONAL INFORMATION -->
      <div class="info-box">
        <h3>PERSONAL INFORMATION</h3>
        <div class="personal-in4">
          <div class="info-row">
            <span class="title">Full name:</span>
            <span class="value">Andrey Nguyen</span>
          </div>
          <div class="info-row">
            <span class="title">Gender:</span>
            <span class="value">Female</span>
          </div>
          <div class="info-row">
            <span class="title">Phone number:</span>
            <span class="value">(+84) 909888777</span>
          </div>
          <div class="info-row">
            <span class="title">Email:</span>
            <span class="value">andreynguyen&#64;gmail.com</span>
          </div>
          <div class="info-row">
            <span class="title">D.O.B:</span>
            <span class="value">1/1/1990</span>
          </div>
        </div>
        <div class="edit-btn">Edit</div>
      </div>

      <!-- SHIPPING INFORMATION -->
      <div class="info-box">
        <h3>SHIPPING INFORMATION</h3>
        <input  type="radio" id="shipping1" name="shipping" class="radio-btn">
        <label for ="shipping1" class="shipping-card">
          <div class="shipping-details">
            <p><strong>Andrey</strong></p>
            <p>(+84) 909888777</p>
            <p>An Thanh, Thuan An, Binh Duong</p>
          </div>
          <div class="actions">
            <span class="edit-ship">Edit</span>
            <span class="delete">Delete</span>
          </div>
        </label>        
        <input  type="radio" id="shipping2" name="shipping" class="radio-btn">
        <label for ="shipping2" class="shipping-card">
          <div class="shipping-details">
            <p><strong>Andree Right Hand</strong></p>
            <p>(+84) 909888777</p>
            <p>Thuan Giao, Thuan An, Binh Duong</p>
          </div>
          <div class="actions">
            <span class="edit-ship">Edit</span>
            <span class="delete">Delete</span>
          </div>
        </label>       
        <div class="add-address">
          <button class="add-btn">Add More Address</button>
        </div>
      </div>

    </div>
  </div>

</div>