<div class="whole">
  <main class="container">
    <section class="profile-section">
      <div class="your-order">YOUR ACCOUNT</div>
      <article class="welcome-card">
        <figure class="profile-image">
          <img src="https://placehold.co/160x160/f8f0e5/f8f0e5" alt="Profile" class="profile-pic" />
        </figure>
        <div class="welcome-text">
          <p class="welcome-line">Welcome to EvoCasa</p>
          <p class="name">Andrey!</p>
        </div>
      </article>
      <nav class="menu-list">
        <div class="menu-item">
          <div class="menu-icon-text">
            <img src="images/profile/personal_information.svg" alt="Personal Information Icon" class="menu-icon" />
            <span class="menu-text">Personal information</span>
            <img src="images/payment/arrow.svg" alt="Personal Information Icon" class="rotated-image" />
          </div>
        </div>
        <div class="menu-item" [routerLink]="'/view-orders'" routerLinkActive="active">
          <div class="menu-icon-text active">
            <img src="images/profile/track_order.svg" alt="Track Order Icon" class="menu-icon" />
            <span class="menu-text">Track Order</span>
            <img src="images/payment/arrow.svg" alt="Personal Information Icon" class="rotated-image" />
          </div>
        </div>        
      </nav>
    </section>
    <section class="main-content"></section>
  </main>
</div>
<body>
<div class="container">
    <div class="account-section">
        <div class="content">
            <div class="info-box">
                <div class="personal-in4">PERSONAL INFORMATION</div>
                <div style="width: 502px; height: 185px; position: relative">
                <div class="full-name">Full name:</div>
                <div class="gender">Gender:</div>
                <div class="phone">Phone number:</div>
                <div class="email">Email:</div>
                <div class="dob">D.O.B:</div>
                <div class="andrey">Andrey Nguyen</div>
                <div class="female">Female</div>
                <div class="phone-num">(+84)909888777</div>
                <div class="birth">1/1/1990</div>
                <div class="mail">andreynguyen&#64;gmail.com</div>
                </div>
                <div class="edit1">Edit</div>
            </div>
            <div class="info-box">
                <h2>SHIPPING INFORMATION</h2>
                <div style="height: 126px; position: relative">
                    <div class="ship4"></div>
                    <div class="andrey1">Andrey</div>
                    <div class="phone-number">(+84)909888777</div>
                    <div class="address">Thuan Giao, Thuan An, Binh Duong</div>
                    <div class="edit-ship">Edit</div>
                    <div class="delete">Delete</div>
                    <div class="ship3">
                      <div class="ship2"></div>
                      <div class="ship1"></div>
                    </div>
                </div>
                <div class="add-more-add-2">
                    <div class="add-more-add-1"></div>
                    <div class="add-more-add">Add More Address</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
