<div class="main-content">
  <h3>CATEGORY MANAGEMENT</h3>
  <br />
  <!-- <h4>Total Category (6) | Showing 4/6</h4> -->
  <h4>Total Category ({{ categories.length }}) | Showing 4/{{ categories.length }}</h4>


  <div class="actions">
    <!-- button filter -->
    <button class="filter-button">
      <img src="images/order/Filter.svg" alt="Filter icon" />
      <span class="filter-text">Filter by</span>
    </button>
    <div class="right-button">
      <!--button Add Product -->
      <button class="addproduct-button" routerLink="/admin-category-add">
        <img src="images/product/add.png" alt="Add" />
        <span>Add product</span>
      </button>
      <!-- button export -->
      <button class="export-button">
        <img
          src="images/product/export.svg"
          alt="Export icon"
          class="export-icon"
        />
        <span class="export-text">Exports</span>
        <img
          src="images/product/arrow.svg"
          alt="Dropdown arrow"
          class="dropdown-icon"
        />
      </button>
    </div>
  </div>


  <div class="table-container">
    <table class="category-table">
      <thead>
        <tr>
          <th>No</th>
          <th>Image</th>
          <th>Category Name</th>
          <th>Category ID</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; let i = index">
          <td>{{ i + 1 }}</td>
          <!-- Hiển thị hình ảnh -->
          <td><img *ngIf="category.image" [src]="category.image" alt="Category Image" style="width: 50px; height: 50px;"></td>
          <!-- Hiển thị tên danh mục -->
          <td>{{ category.name }}</td>
          <!-- Hiển thị mã danh mục -->
          <td>{{ category.id }}</td>
          <!-- Hiển thị mô tả -->
          <td>{{ category.description }}</td>
          <td>
            <button class="icon-btn">
              <img
                src="images/product/view.svg"
                alt="viewicon"
                style="border: black"
              />
            </button>
            <button class="icon-btn">
              <img src="images/product/edit.svg" alt="editicon" />
            </button>
            <button class="icon-btn">
              <img src="images/product/trash.svg" alt="trashicon" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Showing -->
  <div class="show">Showing 4/6 of all results</div>
  <div class="pagination">
    <button class="prev-btn">&lt;</button>
    <span class="page-number">1</span>
    <span class="page-number">2</span>
    <button class="next-btn">&gt;</button>
  </div>
</div>
