<div class="brown-banner">
   Wishing you a joyous 2025 - Beautify your home with great deals!
</div>
<header>
  <div class="navbar">
    <!-- Logo -->
    <div class="logo">
      <img src="images/header/LogoHasName.png" alt="EVOCASA" />
    </div>

    <!-- Menu Chính -->
    <ul class="menu">
      <li><a routerLink="/">HOMEPAGE</a></li>
      <li class="dropdown">
        <a routerLink="/product">PRODUCTS</a>
        <div class="dropdown-menu">
          <ul>
            <li>
              <strong><a routerLink="/product/Furniture">FURNITURE</a></strong>
            </li>
            <li><a routerLink="/product/Furniture/tables">Tables</a></li>
            <li><a routerLink="/product/Furniture/seating">Seating</a></li>
            <li><a routerLink="/product/Furniture/casegoods">Casegoods</a></li>
          </ul>
          <ul>
            <li>
              <strong><a routerLink="/product/Decor">DECOR</a></strong>
            </li>
            <li><a routerLink="/product/Decor/vases-vessels">Vases & Vessels</a></li>
            <li><a routerLink="/product/Decor/decorative-objects">Decorative Objects</a></li>
            <li><a routerLink="/product/Decor/bowls-dishes">Bowls & Dishes</a></li>
            <li><a routerLink="/product/Decor/mirrors">Mirrors</a></li>
            <li><a routerLink="/product/Decor/utility">Utility</a></li>
            <li><a routerLink="/product/Decor/bath-accessories">Bath Accessories</a></li>
          </ul>
          <ul>
            <li>
              <strong><a routerLink="/product/dining-entertaining">DINING & ENTERTAINING</a></strong>
            </li>
            <li><a routerLink="/product/dining-entertaining/kitchen-accessories">Kitchen Accessories</a></li>
            <li><a routerLink="/product/dining-entertaining/serving-dishes">Serving Dishes</a></li>
            <li><a routerLink="/product/dining-entertaining/barware">Barware</a></li>
            <li><a routerLink="/product/dining-entertaining/utensils">Utensils</a></li>
            <li><a routerLink="/product/dining-entertaining/candleholders">Candleholders</a></li>
            <li><a routerLink="/product/dining-entertaining/glassware">Glassware</a></li>
          </ul>
          <ul>
            <li>
              <strong><a routerLink="/product/soft-goods">SOFT GOODS</a></strong>
            </li>
            <li><a routerLink="/product/soft-goods/pillows">Pillows</a></li>
          </ul>
          <ul>
            <li>
              <strong><a routerLink="/product/lighting">LIGHTING</a></strong>
            </li>
            <li><a routerLink="/product/lighting/lamps">Lamps</a></li>
          </ul>
          <ul>
            <li>
              <strong><a routerLink="/product/art">ART</a></strong>
            </li>
            <li><a routerLink="/product/art/vintage">Vintage</a></li>
            <li><a routerLink="/product/art/artisan">Artisan</a></li>
          </ul>
        </div>
      </li>
      <li class="dropdown">
        <a routerLink="/collections">COLLECTIONS</a>
        <div class="dropdown-menu">
          <ul>
            <li><a routerLink="/the-anniversary-collection">The Anniversary Collection</a></li>
            <li><a routerLink="/sabi-collection">Sabi Collection</a></li>
            <li><a routerLink="/the-pavilion-collection">The Pavilion Collection</a></li>
            <li><a routerLink="/the-disc-collection">The Disc Collection</a></li>
          </ul>
        </div>
      </li>
      <li><a routerLink="/insitu-page">IN SITU</a></li>
      <li><a routerLink="/blog">BLOG</a></li>
      <li><a routerLink="/about-page">ABOUT US</a></li>
      <li><a routerLink="/contact-page">CONTACT</a></li>
    </ul>

    <!-- User Actions -->
    <div class="user-actions">
      <div class="search">
        <button>
          <img src="images/header/Search-icon.svg" alt="Search" />
        </button>
        <input type="text" placeholder="Search" />
      </div>
      <div class="signcart">
        <img src="images/header/Sign-in-icon.svg" />
        <a routerLink="/login-page" class="icon" *ngIf="!currentUserName">SIGN IN</a>
        <span class="icon" *ngIf="currentUserName">Hi, {{ currentUserName }}</span>
      </div>
      <div class="signcart">
        <button (click)="openSidebar()">
            <img src="images/header/Cart-icon.svg" />
        </button>
        <span class="total_quantity">{{ displayedQuantity }}</span>
        <label class="icon" (click)="openSidebar()">CART</label>
      </div>
    </div>
  </div>
</header>
