<div class="brown-banner">
  Wishing you a joyous 2025 - Beautify your home with great deals!
</div>
<header>
  <div class="navbar">
    <div class="logo" [routerLink]="'/'">
      <img src="images/header/LogoHasName.png" alt="EVOCASA" />
    </div>
    <ul class="menu">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOMEPAGE</a></li>
      <li class="dropdown">
        <a routerLink="/product" routerLinkActive="active">PRODUCTS</a>
        <div class="dropdown-menu">
          <ul>
            <li>
              <strong><a routerLink="/product/furniture">FURNITURE</a></strong>
            </li>
            <li><a routerLink="/product/furniture/tables">Tables</a></li>
            <li><a routerLink="/product/furniture/seating">Seating</a></li>
            <li><a routerLink="/product/furniture/casegoods">Casegoods</a></li>
          </ul>
          <ul>
            <li>
              <strong><a routerLink="/product/decor">DECOR</a></strong>
            </li>
            <li><a routerLink="/product/decor/vases-vessels">Vases & Vessels</a></li>
            <li><a routerLink="/product/decor/decorative-objects">Decorative Objects</a></li>
            <li><a routerLink="/product/decor/bowls-dishes">Bowls & Dishes</a></li>
            <li><a routerLink="/product/decor/mirrors">Mirrors</a></li>
            <li><a routerLink="/product/decor/utility">Utility</a></li>
            <li><a routerLink="/product/decor/bath-accessories">Bath Accessories</a></li>
          </ul>
          <ul>
            <li>
              <strong><a routerLink="/product/dining-entertaining">DINING & ENTERTAINING</a></strong>
            </li>
            <li><a routerLink="/product/dining-entertaining/kitchen-accessories">Kitchen Accessories</a></li>
            <li><a routerLink="/product/dining-entertaining/serving-dishes">Serving Dishes</a></li>
            <li><a routerLink="/product/dining-entertaining/barware">Barware</a></li>
            <li><a routerLink="/product/dining-entertaining/utensils">Utensils</a></li>
            <li><a routerLink="/product/dining-entertaining/candleholders">Candleholders</a></li>
            <li><a routerLink="/product/dining-entertaining/glassware">Glassware</a></li>
          </ul>
          <ul>
            <li>
              <strong><a routerLink="/product/soft-goods">SOFT GOODS</a></strong>
            </li>
            <li><a routerLink="/product/soft-goods/pillows">Pillows</a></li>
          </ul>
          <ul>
            <li>
              <strong><a routerLink="/product/lighting">LIGHTING</a></strong>
            </li>
            <li><a routerLink="/product/lighting/lamps">Lamps</a></li>
          </ul>
          <ul>
            <li>
              <strong><a routerLink="/product/art">ART</a></strong>
            </li>
            <li><a routerLink="/product/art/vintage">Vintage</a></li>
            <li><a routerLink="/product/art/artisan">Artisan</a></li>
          </ul>
        </div>
      </li>
      <li class="dropdown">
        <a routerLink="/collections" routerLinkActive="active">COLLECTIONS</a>
        <div class="dropdown-menu">
          <!-- Bên trái: Danh sách bộ sưu tập -->
          <div class="collections-list">
            <ul>
              <li><a routerLink="/the-anniversary-collection">The Anniversary Collection</a></li>
              <li><a routerLink="/sabi-collection">Sabi Collection</a></li>
              <li><a routerLink="/the-pavilion-collection">Pavilion Collection</a></li>
              <li><a routerLink="/the-disc-collection">Disc Collection</a></li>
            </ul>
          </div>

          <!-- Bên phải: Lưới ảnh bộ sưu tập -->
          <div class="collections-grid">
            <div class="collection-item">
              <a routerLink="/the-anniversary-collection">
                <img src="images/collection/The Anniversary Collection/The Anniversary Collection.jpg"
                  alt="The Anniversary Collection">
                <span>The Anniversary Collection</span>
              </a>
            </div>
            <div class="collection-item">
              <a routerLink="/sabi-collection">
                <img src="images/collection/Sabi Collection/Sabi collection 1.jpg" alt="Sabi Collection">
                <span>Sabi Collection</span>
              </a>
            </div>
            <div class="collection-item">
              <a routerLink="/the-pavilion-collection">
                <img src="images/collection/The Pavilion Collection/The Pavilion Collection 1.jpg"
                  alt="The Pavilion Collection">
                <span>The Pavilion Collection</span>
              </a>
            </div>
            <div class="collection-item">
              <a routerLink="/the-disc-collection">
                <img src="images/collection/The Disc Collection/The Disc Collection 1.jpg" alt="The Disc Collection">
                <span>The Disc Collection</span>
              </a>
            </div>
          </div>
        </div>
      </li>

      <li><a routerLink="/insitu-page" routerLinkActive="active">IN SITU</a></li>
      <li class="dropdown">
        <a routerLink="/blog" routerLinkActive="active">BLOG</a>
        <div class="dropdown-menu">
          <!-- Bên trái: Danh sách bộ sưu tập -->
          <div class="blog-list">
            <ul>
              <li><a routerLink="/blog-2024-sofa-trend">2024 Sofa Trend</a></li>
              <li><a routerLink="/blog-minimalist-style">Minimalist Style In Interior Design</a></li>
              <li><a routerLink="/blog-mix-and-match-wood"> How To Mix And Match Wood Tones?</a></li>
              <li><a routerLink="/blog-elevating-spaces"> The Art Of Home Decor</a></li>
            </ul>
          </div>

          <div class="blog-grid">
            <div class="blog-item">
              <a routerLink="/blog-redefining-comfort">
                <img src="/images/Blog/bai5/img1.jpg">
                <span>REDEFINING COMFORT THROUGH NATURAL DESIGN</span>
              </a>
            </div>
            <div class="blog-item">
              <a routerLink="/blog-creating-cozy-haven">
                <img src="/images/Blog/bai6/img2.jpg">
                <span>CREATING A COZY HAVEN</span>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li><a routerLink="/about-page" routerLinkActive="active">ABOUT US</a></li>
      <li><a routerLink="/contact-page" routerLinkActive="active">CONTACT</a></li>
    </ul>

    <!-- User Actions -->
    <div class="search">
      <input type="text" [(ngModel)]="searchTerm" (input)="search()" placeholder="Search for products" />
      <button (click)="search()">
        <img src="images/header/Search-icon.svg" alt="Search" />
      </button>
    </div>
    <div *ngIf="searchResults.length > 0" class="search-suggestions">
      <ul>
        <li *ngFor="let result of searchResults" (click)="!result.isPlaceholder && selectProduct(result)"
          class="search-item">
          <img [src]="result.image" alt="Product Image" class="search-image" *ngIf="result.image">
          <div class="search-info">
            <span>{{ result.name }}</span>
            <span *ngIf="result.price"> - {{ result.price | currency }}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="signcart">
      <img src="images/header/Sign-in-icon.svg" />
      <a routerLink="/login-page" class="icon" *ngIf="!currentUserName" routerLinkActive="active">SIGN IN</a>
      <span class="icon" *ngIf="currentUserName"><a routerLink="/manage-account" class="icon"
          routerLinkActive="active">HI, {{ currentUserName }}</a></span>
    </div>
    <div class="signcart">
      <button (click)="toggleSidebar()">
        <img src="images/header/Cart-icon.svg" />
      </button>
      <span class="total_quantity">{{ displayedQuantity }}</span>
      <label class="icon cart-label" (click)="toggleSidebar()" routerLinkActive="active">CART</label>
    </div>
  </div>
</header>