<header>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</header>
<body>
<h2>Your Cart</h2>
<div class="cart-container">
  <!-- Kiểm tra giỏ hàng có trống không -->
  <div *ngIf="isEmpty" class="empty-cart-message">
    <p>Your cart is empty!</p>
  </div>

  <!-- Giỏ hàng với sản phẩm -->
  <div *ngIf="!isEmpty" class="cart-items">
    <!-- Tiêu đề các cột -->
    <div class="cart-header">
      <div class="header-item"></div>
      <div style="text-align: left;">PRODUCT</div>
      <div class="header-item"></div>
      <div style="text-align: left;">QUANTITY</div>
      <div style="text-align: left;">TOTAL</div>
    </div>
    <hr/>
    <!-- Các sản phẩm trong giỏ hàng -->
    <div *ngFor="let product of products" class="cart-item">
      <div class="checkbox-container">
        <input type="checkbox" id="checkbox-{{product.productId}}" (change)="onCheckboxChange($event, product)" />
        <label for="checkbox-{{product.productId}}"></label>
        
     </div>
      <div class="product-image">
        <img [src]="product.Image" alt="404">
      </div>
      <div class="product-details">
        <p class="product-name">{{ product.Name }}</p>
        <p class="product-price">${{ product.Price | number: '1.0-0' }}</p>
      </div>
      <div class="quantity-selector">
        <button type="button" (click)="changeQuantity('decrease', product.productId)">-</button>
        <input type="text" [value]="product.cartQuantity" min="1" (input)="updateQuantity($event, product.productId )" />
        <button type="button" (click)="changeQuantity('increase', product.productId)">+</button>
      </div>
      <div class="product-total">
        <p>${{ product.Price * product.cartQuantity | number: '1.0-0' }}</p>
      </div>
    </div>
  </div>

  <!-- Thông tin tổng và nút Checkout -->
  <div class="cart-summary">
    <div *ngIf="!isEmpty">
      <div class="cart-header-total">
        <div class="header-item">TOTAL</div>
      </div>

      <hr/>

      <div class="summary-details">
        <p class="total_quantity">{{ totalQuantity }} items</p>
        <p class="total_cart">${{ total | number: '1.0-0' }}</p>
      </div>

      <hr/>

      <div class="checkout-info">
        <p class="shipping-info">Shipping & taxes calculated at checkout</p>
        <a routerLink="/payment-shipping"><button class="checkout-btn">CHECK OUT</button></a>
      </div>

    </div>
  </div>
</div>
</body>
